/* adding by quan for enmasse 6 */
.tableDastboard{
    float: left;
    width: 580px;
}
.rightDastBoard{
    float: right;
    margin-left: 10px;
    min-height: 200px;
    width: 450px;
}
.overView{
    min-height: 200px;
    background-color: #E5E3E3;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    margin-top: 9px;
    -webkit-box-shadow: 1px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 2px 1px rgba(50, 50, 50, 0.75);
    background: rgb(14,58,95); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(14,58,95,1) 0%, rgba(12,24,47,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(14,58,95,1)), color-stop(100%,rgba(12,24,47,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3a5f', endColorstr='#0c182f',GradientType=1 ); /* IE6-9 */
}

.header_overView{
    /*background-color: #3FBCFF;*/
    line-height: 30px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgb(20,81,139); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(20,81,139,1) 0%, rgba(14,38,63,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(20,81,139,1)), color-stop(100%,rgba(14,38,63,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(20,81,139,1) 0%,rgba(14,38,63,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(20,81,139,1) 0%,rgba(14,38,63,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(20,81,139,1) 0%,rgba(14,38,63,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(20,81,139,1) 0%,rgba(14,38,63,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14518b', endColorstr='#0e263f',GradientType=1 ); /* IE6-9 */


}
.overView .header_overView img{
    cursor: pointer;
    height: 15px;
    left: -29px;
    position: relative;
    top: -3px;
    z-index: 99999;
}
.overView .contain_overView{
    padding:0px;

}
.overView .detail_overView{
    padding: 10px 10px 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    /*background-color: #fff;*/
    background: rgb(14,58,95); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(14,58,95,1) 0%, rgba(12,24,47,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(14,58,95,1)), color-stop(100%,rgba(12,24,47,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(14,58,95,1) 0%,rgba(12,24,47,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3a5f', endColorstr='#0c182f',GradientType=1 ); /* IE6-9 */
    color: #FFFFFF;
}

.overView .leftDetail_overView p{
    width: 75%;
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    line-height: 27px;
    margin-bottom: 3px;
}
.overView .leftDetail_overView span{
    display: inline;
    margin-left: 20px;
    padding-right: 15px;
    float: right;
    line-height: 27px;
}
.overView .right_header_overView{
    display: inline-block;
    float: right;
    left: 32px;
    position: relative;
}
.overView .right_header_overView a{
    display: inline-block;
    float: right;
    margin: 0 5px;
}
.clear {
    clear: both;
    float: none !important;
}
.headerMenuDB{

}
.headerMenuDB a{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff !important;
    padding:6px;
    line-height: 38px;
    background-color: #08c;
}
.headerMenuDB a:hover,.headerMenuDB a.active{
    text-decoration: none;
    background-color: #066696;
}

.titleCouponRe {
    float: left;
    margin-right: 4px;
    text-align: left;
    width: 117px;
    margin-top: 0px;
    font-weight: bold;
}

#dashBoard fieldset{    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #E5E3E3;
    min-width: 100px;
    padding: 10px 10px 0;
    margin-bottom: 15px;
    text-align: center;
    -webkit-box-shadow: 1px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 2px 1px rgba(50, 50, 50, 0.75);
}

#dashBoard fieldset legend{
    border-style: none;
    width: auto;
    font-size: 16.6px;
    margin-bottom: 3px;
    line-height: 17px;
    color: #175185;
    font-weight: bold;
}

#dashBoard fieldset .iconDahB{
    text-align: center;
    float: left;
    margin-right: 20px;
    width: 95px;
}
#dashBoard fieldset .iconDahEnd{
    float: left;
    text-align: center;
    width: 95px;
}
#dashBoard fieldset .iconDahEnd b{
    display: inline-block;
    height: 36px;
}
#dashBoard fieldset .lineIcon {
    display: inline-block;
    /*margin: 0 10px 10px 10px;*/
}
#dashBoard .leftDashBoard {
    display: inline-block;
    float: left;
}
.titleCouponRe2 {
    display: inline-block;
    margin-left: 0px;
    text-align: left;
    width: 39px;
    font-weight: bold;
}

table td {
    padding-right: 5px;
}
table select,table textarea,table input[type="text"], table a, table .media-preview {
    margin: 7px 0px;
}

#adminForm select,#adminForm textarea,#adminForm input[type="text"], #adminForm .media-preview {
    margin: 7px 0px;
}

.underLineOverView{
    height: 2px;
    margin-left: -10px;
    width: 104%;
    margin-bottom: 3px;
    background: rgb(18,63,105); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(18,63,105,1) 0%, rgba(14,30,55,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(18,63,105,1)), color-stop(100%,rgba(14,30,55,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(18,63,105,1) 0%,rgba(14,30,55,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(18,63,105,1) 0%,rgba(14,30,55,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(18,63,105,1) 0%,rgba(14,30,55,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(18,63,105,1) 0%,rgba(14,30,55,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123f69', endColorstr='#0e1e37',GradientType=1 ); /* IE6-9 */
}

.toggle_content_em > hr{
    margin: 0px;
    border: 1px solid;
    color: #0099BB;
}
.toggle_content_em > div{
    margin-left:20px;
}
.toggle_content_em > h2 {
    cursor: pointer;
    color: #3FBCFF;
}
.toggle_mct {
    display: none;
}

.DOV1{
    float: right;
    padding-right: 15px;
    text-align: right !important;
    width: 95px;
}
.upToNowOV{
    margin-left: 180px;
    width: 33% !important;
}
.todayOV{
    width: 23% !important;
}

.textDOV{
    float: right;
    width: 23% !important;
    text-align: center !important;
}
.tableOV table{
    border-collapse: separate !important;
    border: 1px solid #DDDDDD;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}
.tableOV table thead{
    background: rgb(245,245,245); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(245,245,245,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(245,245,245,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(245,245,245,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(245,245,245,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(245,245,245,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tableOV table tr{
    border-collapse: collapse;
}
.tableOV table thead tr th{
    text-align: center;
}
.tableOV table td{
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}
.tableOV table tr:first-child th:first-child {
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}
/* Top Right */
.tableOV table tr:first-child th:last-child{
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;
}
/* Bottom Left */
.tableOV table tr:last-child td:first-child{
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
}
/* Bottom Right */
.tableOV table tr:last-child td:last-child{
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}
.header_overView_table{
    color: #174C80;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 0 0 10px;
}

#sidebar {
  background: none repeat scroll 0 0 #f9f9f9;
  -webkit-box-shadow: 1px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 0px 3px rgba(50, 50, 50, 0.75);
}

#submenu .child_menu a{
    padding-left: 30px;
    background: url("../images/sub_icon.png") no-repeat; 
}

#submenu.nav-list a {
    font-weight: bold;
    color: #0088cc;
}

#submenu .child_menu a {
    color: #666666;
    font-weight: normal;
}
#submenu .child_menu.active a {
    color: #0088CC !important;
    background-color: #dedede !important;
}

.att_tag {
    margin-top: 20px;
}

.headerAttTag a {
    background-color: #dedede;
    border-radius: 5px 5px 0 0;
    color: #0289cb;
    line-height: 38px;
    padding: 8px 14px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-right: -2px;
}
.headerAttTag a.active {
    background: -moz-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* IE10+ */
    background: linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* W3C */
    color: #FFFFFF !important;
    font-weight: bold;
}

.headerAttTag a:hover {
    background: -moz-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* IE10+ */
    background: linear-gradient(top,  #1e68a7 0%, #1a4275 100%); /* W3C */
    color: #FFFFFF !important;
    text-decoration: none;
}
.headerAttTag hr {
    margin: -3px 0 0 0;
    border: 1px solid;
    color: #1b4679;
}

#main_feature .span3{
    text-align: center;
    min-width: 120px;
    margin: 20px 0px;
}

#adminForm table.tb_product td{
    vertical-align: top;
}

#adminForm table.tb_product td a{
    margin: 0px;
}

#dealTypeTbl td{
    text-align: center;
}

#dealTypeTbl input[type="text"]{
    width: 150px;
}

.innerTableOrderSub{
    background: none !important;
    border-top: none !important;
}

#adminForm table td, #adminForm table th {
    vertical-align: middle;
}
#adminForm table .innerTableOrder table tr{
    border-bottom: 1px solid #d8d8d8;
}
#adminForm table .innerTableOrder table tr td:last-child,#adminForm table .innerTableOrder table tr th:last-child{
    border-left: 1px solid #d8d8d8;
}
#adminForm table .innerTableOrder table tr:last-child{
    border-bottom: none;
}

#submenu.nav-list > .active > a,#submenu.nav-list > .active > a:hover {
  background-color: #5BBE5B;
  color: #FFF;
}

.beforeGenerate {
  border-bottom: 1px dotted;
  color: #605050;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

fieldset.adminform {
    margin-bottom: 20px;
}

.admin form input[value="Search"],.admin form input[value="Reset"]{
	background: url(../images/btn-search.png) no-repeat 0 0;
	padding-left: 34px;
	border: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
}
.admin form input[value="Reset"]{
	background: url(../images/btn-reset.png) no-repeat 0 0;
}

.admin form .btnview,.admin form .btnadd{
	background: url(../images/btnview.png) no-repeat 0 0;
	border: none;
	text-shadow: none;
	color: #fff;
	font-size: 14px;
}
.admin form .btnadd{
	background: url(../images/btnadd.png) no-repeat 0 0;
}

.tableSearch button{
    margin-top: 7px;
}

.flRight{
    float: right;
}
.marTop5{
    margin-top: -5px;
}

.tableSearch .input-append{
    margin-bottom: 0px;
}

#adminForm #start_at_img, #adminForm #end_at_img{
	margin: 7px 0;
}

/*BONUS*/
.orderTable{
	float: left;
	width: 50%;
}


.orderTable tr{
	padding: 3px 0;
	display: block;
}

.orderTable tr td{
	width: 420px;
}

.orderTable tr td.order-Id{
	color: #58a6d8;
}

.orderTable tr td.key{
	width: 150px;
	font-weight: bold;
}
.orderTable tr td b{
	list-style: none;
	padding-left: 20px;
	background: url(../images/img-dotted.jpg) no-repeat 0 0;
}

.orderTable div.status b{
	padding-left: 0;
	background: none;
}


.adminform .button{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	border-radius: 4px;
	padding: 4px 22px;
	margin-right: 10px;
	border: none;
}

.adminform .button_list{
	margin-bottom: 70px;
	clear:both;
}

.adminform .button_list .button[value=Cancelled]{
	background: #08c;
}

.btnAdd, .btnDel{margin-top:-2px;}