.em_innerBlock.em_allDealPage.container{
	padding-right: 15px!important;
	padding-left: 15px!important;
}
.em_innerBlock.em_allDealPage.container,.featured-deal{
	max-width: 1015px;

}
.filter-section{
	margin-bottom: 50px;
	border-bottom: 1px solid #e6e7e8;
}
.featured-item {
	margin-bottom: 70px;
	width: 495px;
}
.featured-item .row{
	background: #fff;
	-webkit-box-shadow: 1px 2px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 6px 0px rgba(50, 50, 50, 0.75);
	margin: 0px;
	height: 237px;
	
}
.featured-item .row .col-md-8{
	padding: 0px;
	height: 100%;
	/*width: 288px;*/
}
.featured-item .row .col-md-8 img{
	height: 100%;
	width: 100%;
}
.featured-item .row .col-md-4{
	/*width: 164px;*/
}
.featured-item .row .col-md-4 span{
	display: block;
}
.general-items .order-info .col-right .product-order,.featured-item .row .col-md-4 span.product-order{
	font-size: 15px;
	background-color: #8CC540;
	padding: 3px 7px;
	color: #FFF;
}
.featured-item .row .col-md-4 span.product-order{
	padding: 3px 8px;
}
.general-items .order-info .col-right .product-order {
	display: block;
	width: 44px;
	float: right;
}
.general-items .order-info .col-right .product-order a, .featured-item .row .col-md-4 span.product-order a{
	color: #fff;
}

.featured-item .row .col-md-4 .product-title{
	height: 90px;
}
.featured-item .row .col-md-4 .product-price{
	display: block;
	border-bottom: 1px solid #d9dadb;
	font-size: 20px;
	color: #000;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.featured-item .row .col-md-4 .product-price .percent-saved{
	color:#8fc742;
	
	
	display: inline;
	background-size: 12px;
	float: right;
	position: relative;
}
.featured-item .row .col-md-4 .order-info .col-left .product-orginal-price,
.featured-item .row .col-md-4 .order-info .col-left .product-bought {font-size: 11px;}
.featured-item .row .col-md-4 .order-info .col-left{width: 50%;	float: left;}
.featured-item .row .col-md-4 .order-info .col-left .product-orginal-price-value,
.general-items .order-info .col-left span.product-orginal-price-value
{
	text-decoration: line-through;margin-bottom:1px;font-size: 15px;margin-top: -3px;
}
.featured-item .row .col-md-4 .order-info .col-left .product-bought-value,
.general-items .order-info .col-left span.product-bought-value
{
	font-size: 20px;color:#8fc742;
	position: relative;
	top: -6px;
}
.featured-item .row .col-md-4 .order-info .col-right{float: right;margin-top: 15px;}
.featured-item .row .col-md-4{padding: 15px;}

.general-items .product-item{width: 318px;height: 320px;margin-bottom: 70px;}
.general-items .product-item .content{background-color: #fff;	-webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);
}
.general-items .product-item .content .base-info{
	width: 160px;
	float: left;
	margin: 10px 0px;
	border-right: 1px solid #d9dadb;
	padding: 0 15px;
}
.general-items .product-item .content .order-info{
	margin: 10px 0px;
	padding: 0 7px;
	margin-left: 160px;
	position:relative;
}
.general-items .product-item .product-img{height: 237px;display: block;position: relative;background: #01aef0;}
.featured-item .col-sm-8 .highlight,.general-items .product-item .product-img .highlight{
	display: none;
	color: #fff;
}
.featured-item .col-sm-8:hover .highlight,.general-items .product-item .product-img:hover .highlight{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	background: #8CC540;
	padding: 20px;
	display: block;
	color: #fff;
}
.general-items .product-item .product-img img{height: 237px;}
.featured-item .product-img span,.general-items .product-item .product-img span{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 68px;
	height: 68px;
	background: #fff;
}
.featured-item .product-img span.daysRemain, .general-items .product-item .product-img span.daysRemain{
	background: url("../images/deal/LastDay-s.png") no-repeat left top;
}.featured-item .product-img span.dayRemainNumber, .general-items .product-item .product-img span.dayRemainNumber{
	background: url("../images/deal/DaysRemain-home.png") no-repeat left top;
	text-align: center;
}
.featured-item .product-img span.dayRemainNumber b, .general-items .product-item .product-img span.dayRemainNumber b{
	color: rgb(255, 255, 255);
	font-size: 26px;
	text-align: center;
	position: relative;
	top: 26px;
}

.featured-item .product-img span.lastSeats,.general-items .product-item .product-img span.lastSeats{
	background: url("../images/deal/LastNSeats-s.png") no-repeat left top;
}
.featured-item .product-img span.sold-out,.general-items .product-item .product-img span.sold-out{
	background: url("../images/deal/soldout-bg.png") no-repeat left top;
}
.featured-item .product-img span.lastSeats b,.general-items .product-item .product-img span.lastSeats b{
	font-size: 28px;
	color: #fff;
	position: relative;
	top: 29px;
	left: 14px;
	font-weight: normal;
}
.general-items img,.featured-item img{max-width: 100%;}
.general-items .product-item .product-price{font-size: 20px;color: #000;}
.general-items .product-item .product-price .percent-saved{
	color:#8fc742;
	
	
	display: inline;

	float: right;
	position: relative;
}
.general-items .order-info .col-left,
.general-items .order-info .col-right{width: 50%;}
.general-items .order-info .col-right{margin-top: 17px;padding-right:10px;text-align: right;}
.general-items .order-info .col-left span{
	display: block;
}
.general-items .order-info .col-left .product-orginal-price,
.general-items .order-info .col-left .product-bought{
	font-size: 11px;
}
.general-items .base-info .product-title{display: block;height: 40px;overflow: hidden;}

.clear{clear: both;}

.filter-section .ul-list{list-style: none;margin-bottom: 6px;padding: 0px;font-size: 16px;}
.filter-section .ul-list li.first{color:#8fc742;}
.filter-section .ul-list li.active a{color:#8fc742;}
.filter-section .ul-list li{display: inline-block;margin-right: 30px;margin-bottom: 10px}
.more-deal{font-size: 17px;}

.deal-detail .deal-image{position: relative;max-width: 385px;top: -30px;right: -15px;padding:0px;height: 257px;float: right;}
.deal-detail .deal-image img{max-width: 100%;height: 317px;}
.deal-detail .deal-image span.days-remain {
	width: 102px;
	height: 102px;
	position: absolute;
	background: url("../images/deal/DaysRemain.png") no-repeat 0px top;
	top: 20px;
	right: 20px;
	padding-top: 25px;
	font-size: 51px;
	color: #fff;
	background-size: 100%;
}
.deal-detail .deal-image span.days-remain.last-day{
	background: url("../images/deal/LastDay.png") no-repeat 0px top;
	background-size: 102px;
}
.deal-detail .deal-top,
.deal-detail .deal-description,
.deal-detail .deal-purchase{
	margin-bottom: 30px;
	background-color: #fff;
	padding: 30px 15px;
}

.deal-detail .detail-info{
	
	border-bottom: 1px solid #e6e7e8;
	
	margin-bottom: 10px;
	margin-left: 0px;
}
.deal-detail .detail-info .col-sm-8{
	padding-left: 0px;
}
.deal-detail .detail-info .price{font-size: 50px;}
.deal-detail h2,.deal-detail h3{font-size: 15px;margin-top: 0px;}

.deal-detail .saved{
	font-size: 35px;
	color: #39B54A;
	
	position: relative;
	padding-left: 33px;
}
.deal-detail .saved img{
	top: -10px;
	top: -14px;
	position: relative;	
}
.deal-detail .orginal-price .orginal span,.deal-detail .orginal-price .no-purchased span{
	display: block;
	font-size: 20px;

}
.deal-detail .orginal-price,.deal-detail .include,.deal-detail .deal-description .description  {
	border-bottom: 1px solid #e6e7e8;
	margin-bottom: 10px;
}
.deal-detail .orginal-price .no-purchased span{
	color:  #39B54A;
}
.deal-detail .orginal-price .orginal span{
	text-decoration: line-through;
}
.deal-detail .deal-intro img{
	max-width: 100%;
}
.deal-detail .deal-description .description .title{
	color: #39B54A;
}
.active-color{
	color: #39B54A;
}
.deal-detail .text-right .back img{
	width: 70px;
	margin-right: 10px;
}
.deal-detail .text-right .next img{
	width: 127px;
}
.deal-intro .order-button{
	background: url('../images/deal/order-now-button_blank2.jpg') no-repeat scroll left center transparent;
	position: relative;
	font-size: 13px;
	color: #FFF;
	display: block;
	padding: 5px;
}
.deal-detail .text-right .next,
.em_innerBlock.em_allDealPage.container.cart .text-right .next{
	background: url('../images/deal/order-now-button_blank.jpg') no-repeat scroll right center transparent;
	position: relative;
	line-height: 17px;
	font-size: 17px;
	color: #FFF;
	padding: 8px 70px 10px 10px;
	text-align: left;
}
.deal-detail .text-right .next input,.em_innerBlock.em_allDealPage.container.cart .text-right .next input{
	background: transparent;
	border: none;
}
body{
	color: #808285;
}
.orginal-price .pop-up,.deal-detail .deal-intro .pop-up{
	position: absolute;
	background-color: #8cc540;
	color: #fff;
	padding: 10px;
	border-radius: 6px;
	left: 120px;
	top: -60px;
	min-height: 160px;
	min-width: 300px;
	z-index: 2;

}
.orginal-price .pop-up{
	background-color: #217f40;
	left: 140px;
	width: 400px;
}
.orginal-price .pop-up .arrow,.deal-detail .deal-intro .pop-up .arrow{

	position: absolute;
	top: 80px;
	left: -15px;
	margin-top: -20px;
}
.flow-bar .col-sm-3 span{
	color: #fff;
	background-color: #bbb;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
}
.flow-bar .col-sm-3.active span{
	background-color:  #8cc540;
}
.flow-bar .line{
	border-bottom: 2px solid #bbb;
	max-width: 76%;
	margin: 0 auto;
	padding-top: 35px;
}
.flow-bar{
	margin-bottom: 30px;
}

/* Cart Page */
.container.cart .section{
	margin-bottom: 20px;
}
.container.cart .section .right-content{
	padding:20px 140px 20px 25px;
	min-height: 65px;
	margin-left: 160px;
	background-color: #fff;
}
.container.cart .insurance.section .right-content{
	padding-right: 10px;
}
.container.cart .section .right-content .insurance span,
.em_innerBlock.em_allDealPage.container.cart.order-confirm p.insurance span{
	color: #f9af42;
	font-size: 25px;
}
.container.cart .insurance-title .col-sm-3{
	background-color: #f9af42;
	color: #fff;
}
.deal-order .em_totalCart{
	background: none;
}
.deal-order .order-submit{
	background: url("../images/deal/order-now-button.jpg") no-repeat 0px top;
	background-size: 100%;
	width: 127px;
	height: 33px;
	border: none;

}
.em_allDealPage.cart .deal-price-info{
	background-color: #b379b4;
	color: #fff;
	padding: 30px;
}
.em_allDealPage.cart .deal-price-info h3{
	margin-top: 0px;
}
.em_allDealPage.cart .deal-price-info .line{
	height: 1px;
	border-top: 1px solid #fff;
}
.em_allDealPage.cart .deal-order .passenger-section.first{
	margin-bottom: 3px;
	
}

.em_allDealPage.cart .deal-order .passenger-info,
.em_allDealPage.cart .deal-order .passenger-section{
	background-color: #fff;
	margin-bottom: 14px;
	padding: 25px;
}
.em_allDealPage.cart .deal-order .passenger-section{
	padding: 18px;
}
.em_allDealPage.cart .deal-order .passenger-section h3{
	font-size: 16px;
	margin-top: 0px;
}
.em_allDealPage.cart .deal-order .passenger-section h3.deal-name{
	font-size: 18px;
}
.em_allDealPage.cart .deal-order .passenger-info input[type=text]{
	width: 175px;
	height: 20px;
}
.em_allDealPage.cart .deal-order .passenger-info .input-item{
	margin-bottom: 17px;
	padding-left: 5px;
}
.passenger-info .input-item .raido{
	margin-left: 7px;
	margin-right: 7px;
}
.passenger-info .input-item input[type=text]{
	float: right;
}
.em_allDealPage.cart .deal-order .passenger-info .input-item .birthday{
	width: 210px;
	max-width: 100%;
	float: right;
	line-height: 20px;
	padding: 0px 2px;
}
.em_allDealPage.cart .deal-order .passenger-info h3,
.order-confirm .row-item .col-sm-12.left-content h3{
	color:#9e1f62;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.em_allDealPage.cart .deal-order .passenger-info .remark{
	color:#9e1f62;
	font-size: 12px;
}

.em_allDealPage.cart .deal-order .passenger-info.contact-person h3{
	background-color: #9E1F62;
	color: #FFF;
	padding: 8px;
	margin-right: -20px;
	margin-left: -20px;
}

.passenger-info .term{
	position: relative;
	top: 2px;
	margin-right: 8px;
}
.order-confirm .row-item
{
	margin-bottom: 20px;
}
.order-confirm .row-item .left-content{
	background-color: #fff;
	padding: 25px 35px;
	padding-right: 20px;
	
}
.order-confirm .row-item .col-sm-8 .left-content{
	margin-right: -15px;
}
.order-confirm .row-item .left-content .line{
	height: 1px;
	border-top: 1px solid;
	margin-top: 15px;
	margin-bottom: 17px;
	clear: both;
}
.deal-price-info span.col-sm-6{
	padding: 0px;
}
.deal-price-info p,.deal-price-info .line{clear: both;}
.order-confirm .row-item .right-content img{
	max-width: 100%;
}
.order-confirm .row-item .left-content h3{
	margin-top: 0px;
}
.order-confirm .row-item .left-content h3.deal-des{
	font-size: 16px;
}
.order-confirm .row-item .col-sm-12.left-content span{
	margin-right: 40px;
}

.insuranceList .pop-up input{width: 30px;text-align: center;}
.insuranceList .insurance-title{
	background-color:#F9AF42; 
	color:#fff;
}
.em_innerBlock.em_allDealPage h3.home-title-icon{
	font-size: 13px;
	margin-top: 15px;
	margin-bottom: 25px;
}
.em_innerBlock.em_allDealPage h3.home-title-icon img{
	margin-right: 10px;
	
}
.alert{
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid #8CC540;
	background-color: #FFF;
	margin-top: 20px;	
}
.deal-detail .orginal-price .saved .circle-saved,
.general-items .product-item .product-price .percent-saved span.circle-saved,
.featured-item .row .col-md-4 span.circle-saved{

		color: #FFF;
		font-size: 11px;
		background: url('../images/deal/Save_Blank.png') no-repeat scroll center center / 16px auto transparent;
		padding: 8px;
		position: absolute;
		top: -10px;
		left: -23px;
}
.deal-detail .orginal-price .saved .circle-saved
{
	top: 0px;
	left: 8px;
	font-size: 13px;
	background-size: 18px;
}
.insurance-item .pop-up{
	font-size: 13px;
	padding-right: 10px;
	padding-top: 10px;
}
.insurance-item .show-cart img{
	padding-top: 10px;
}
.type-title{
	background-color: #F9AF42 !important;
	color: #FFF;
	padding-left: 10px;
	margin-left: -10px;
}
.innerPopContBuy a{color:#fff;}
.innerPopContBuy p {margin-bottom:4px;}
.innerPopContBuy .last p {margin-left:30px;margin-bottom: 6px;}
.innerPopContBuy .last a {font-size:26px;}
.innerPopContBuy a:hover{color:#39B54A;}
.innerPopContBuy .txtValue strong {text-decoration: line-through;margin-right: 5px;}
.insurance p.insurance span{

}
.em_allDealPage.cart .deal-price-info.second{
	margin-top: 19px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.em_allDealPage.cart .deal-price-info.second h3{
	font-size: 20px;
	margin-bottom: 0px;
}
.em_allDealPage.cart .deal-price-info.three{
	background-color: #BDBEC2;
	padding: 15px 30px 5px;
}
.deal-price-info p span.clear{
	display: block;
}
.deal-price-info p{
	font-size: 18px;
}
.deal-price-info p.remark{
	font-size: 12px;
}
#branch{width: 66%;}
.em_innerBlock textarea:focus, .em_innerBlock input[type="text"]:focus, .em_innerBlock 
input[type="password"]:focus, .em_innerBlock 
input[type="datetime"]:focus, .em_innerBlock 
input[type="datetime-local"]:focus, .em_innerBlock 
input[type="date"]:focus, .em_innerBlock input[type="month"]:focus, .em_innerBlock 
input[type="time"]:focus, .em_innerBlock input[type="week"]:focus, .em_innerBlock 
input[type="number"]:focus, .em_innerBlock input[type="email"]:focus, .em_innerBlock 
input[type="url"]:focus, .em_innerBlock input[type="search"]:focus, .em_innerBlock 
input[type="tel"]:focus, .em_innerBlock input[type="color"]:focus, .em_innerBlock 
.uneditable-input:focus{
	border-color: #8cc540;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #8cc540;
	outline: 0 none;
}

@media (min-width:1200px){
	.container{
		width: 1015px;
		position: relative;
		/*left: 27px;*/
		
	}
	.featured-deal .col-md-6.featured-item.item-1{
		float: right;
		
	}
	.general-items .product-item{
		padding-left: 22px;
		padding-right: 22px;
		width: 342px;
	}
	.general-items .row{
		margin-left: -22px;
		margin-right: -22px;
	}

}
@media (max-width:767px){
	.featured-item .row .col-md-8{
		padding: 0px;
		height: 100%;
		width: 288px;
	}
	
	.featured-item .row .col-md-4{
		width: 164px;
	}
	.order-confirm .row-item .col-sm-8 .left-content{
		margin-right: 0px;
	}

	/* Style for Mobile */
	.air-plane.section .pull-left.left-content,
	.hotel.section .pull-left.left-content,
	.insurance.section .pull-left.left-content{
		width: 100%;
		float: none !important;
	}
	.container.cart .section .right-content{
		margin-left: 0px;
		padding-right: 25px;
	}
	.order-confirm .row-item .plane-right .right-content,.air-plane.section .pull-left.left-content{
		background-color: #37b34a;
	}.order-confirm .row-item .insurance-right .right-content,.insurance.section .pull-left.left-content{
		background-color: #f9ae41;
	}.order-confirm .row-item .hotel-right .right-content,.hotel.section .pull-left.left-content{
		background-color: #26aae1;
	}
	.order-confirm .row-item .pull-right{
		float: none!important;
	}
	.flow-bar .col-xs-6{
		margin-bottom: 15px;
	}
	.flow-bar .line{
		display: none;
	}
}
@media (max-width:500px){
	.general-items .product-item.featured-hide{
		display: block!important;
	}
	.featured-deal{
		display: none!important;
	}
	.general-items .product-item{
		float:none!important;
		margin:0 auto;
		margin-bottom:70px;
	}
}
@media (max-width:400px){
	.general-items .order-info .col-right .product-order, .featured-item .row .col-md-4 span.product-order{
		padding: 3px;
		text-align: center;
	}
}
body{
	color: #231F20;
}
.result-page .col-sm-10.first{
	padding: 135px 4px; 

}
.result-page .col-sm-10{
	margin: 0px auto; float: none; 
	background-color: #fff; 
	min-height: 50px; 
	width: 80%;
	color: #8CC540;
}
.em_innerBlock.em_allDealPage.container.cart .result-page .text-right .next{
	background: url('../images/deal/continue_blank.jpg') no-repeat scroll right center transparent;
}
.pop-up.terms a{
	color: #fff;
}
.pop-up.terms a:hover{
	color: #39B54A;
}
.taken-button{
	margin-bottom: 5px;
}
.order-report-table{
		width: 100%;
		margin-bottom: 15px;
		overflow-x: auto;
		overflow-y: hidden;
}
.type-table tr.page-tr{
	display: none;
}
.type-table tr.page-tr.page-0{
	display: block;
}
.type-table td{
	vertical-align: top;
	padding: 5px;
}
.type-table .page-item{
	position: relative;
	top:10px;
	padding: 3px 5px;
	background: #fff;
	color:#000;
	margin-left: 5px;
}
.light-yellow{
	color:#fff584;
}
.types-selected ol li.col-sm-6{
	padding-left:0px;
}
.pop-up.types-selected-pop ol{
	padding-left:20px;
}
.pop-up.types-selected-pop ol li span.pull-right{
	padding-right:7px;
}
.deal-intro .submit-type .order-button {
    background: url("../images/deal/order_type_blank.jpg") no-repeat scroll left center ;
    color:#000;
    }
    .innerPopContBuy .last p{
    	margin-left:0px;
    }
    .innerPopContBuy .last,.innerPopContBuy .last select{
    	min-width:50px;
    }