/* Font face 
@font-face {
    font-family: MHeiHK;
    src: url("../fonts/MHeiHK-Light.otf") format("opentype");
    font-weight:300;
}
@font-face {
    font-family: MHeiHK;
    src: url("../fonts/MHeiHK-Bold.otf") format("opentype");
    font-weight:600;
}
@font-face {
    font-family: MHeiHK;
    src: url("../fonts/MHeiHK-Xbold.otf") format("opentype");    
    font-weight:800;
}
*/
@font-face {
    font-family: RobotoThin;
    src: url("../fonts/Roboto-Thin.ttf");
    font-weight:300;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
    font-weight:300;
}

/* Varible */
@icon-color:#50B848;
@price-color:#009444;
@link-color:#39B54A;
@font-color:#414042;
@lightfont-color:#808285;
/* FRONTEND CSS
*********************************************/
.advidea {
    position:absolute;
    left:10px;
    top:10px;
    .ideaicon {
        display:inline-block;
        width:30px;
        height:30px;
        &.ideachrismast {
            background:url("http://www.adholidays.com/adh/cms/Upload/AdvIdeaContent/image/HKG13/HMK/tree-01.png") no-repeat left top;
        }
        &.ideaeaster {
            background:url("http://www.adholidays.com/adh/cms/Upload/AdvIdeaContent/image/HKG13/HMK/easter-01.png") no-repeat left top;
        }
        &.ideacny {
            background:url("http://www.adholidays.com/adh/cms/Upload/AdvIdeaContent/image/HKG13/HMK/CNY-01.png") no-repeat left top;
        }
        &.ideahotsale {
            background:url("http://www.adholidays.com/STravel/cms/Upload/AdvIdeaContent/image/WEB353681/H/DEV/icon1.png") no-repeat left top;
        }
    }
}
.ui-datepicker.ui-widget-content {
    z-index: 1200 !important;
}
.totop {margin-top:20px;}
.changecolor {background:#fbb040;color:#fff;display:inline-block;}
.disclaimer {
    font-size:11px;
    color: @lightfont-color;
    padding:33px 15px;
    border-top:1px solid #d1d3d4;
    #cruisehome &,#hotelresult & {
        border-top:none;
    }
    #hotelresult & {
        padding:33px 30px;    
    }
    .col-md-5.text-right {
        text-align:left !important;
    }
}
.copyrighttxt {
    font-size:12px;
    .firstpart {display:inline-block;margin-right:20px;}
}
#generalpage {
    &-joinus,&-aboutus {
        .detailcontent {
            & > div,img,table {width:100% !important;}
            img {height:auto !important;}    
        }   
    }
    &-contactus {
        .detailcontent {
            p {
                overflow:hidden;
                img {display:inline-block;margin-right:5px;}
            }
            .hasshortline {
                border-bottom:1px solid #d1d3d4;
                padding-bottom:12px;
            }
            .row {
                border-bottom:1px solid #d1d3d4;
                padding-bottom:20px;
                margin-bottom:20px;
                &.noborder {
                    border-bottom:none;
                    margin-bottom:auto;
                }
            }
        }
    }
}
.displaynone {display:none;}
.branchbtn {cursor:pointer;}
.hottxt {
    color:@font-color;padding-right:15px;background:url(../images/SmallCircle.GIF) no-repeat right center;font-size:10px;
    position:absolute;
    right:8px;
    .site & {margin-right:auto;}
}
html {
	/* scrollbar fix (prevent ugly left pull for lower content sites) */
	overflow-y: scroll;
}
.page-sep {
    display:none;
    &1 {
        display:block;
    }
}


body {
    font-family:"Microsoft Jhenghei", "Microsoft YaHei",Roboto,sans-serif;
    font-weight:300;
}
body.site {background:#f3f3f5;}
body.site #maincontent {padding-top:15px;}
a {
    color:@lightfont-color;
    &:hover {
        color:@link-color;
        text-decoration:none;    
    }
    &:focus {
        outline: none;
        text-decoration:none;
    }
}
.nav > li > a:focus {background:none;}
ul.cbreadcrumb {
    list-style:none;
    padding:0;
    li {
        display:inline-block;
        &:after {content:"/";padding:0 10px;}
        &:last-child:after {content:"";padding:0;}
        a {
            i.fa.fa-home {
                margin-right:5px;
            }
        }
    }
}
.logo img {width:150px;margin-bottom:8px;}
header {
    padding-top:25px;background:#fff;
    .site & {
        box-shadow:0 4px 4px 0 #b8b8b8;
        margin-bottom:4px;
    }
}
/*
.fullscreen-container {
    .tp-bullets {
        left:50% !important;
        bottom:15px !important;
        margin-left:-40px;
        .bullet {
            display:inline-block;
            width:16px !important;
            height:16px !important;
            border-radius:50px;
            background:#fff !important;
            margin:auto 5px;
            cursor:pointer;
            &.selected {
                background:#4db848 !important;
            }
        }
    }
}
*/
#slide,.headrowhastop {margin-top:15px;}
#top {
    color:#fff;
    background:#8DC73F;
    padding:3px 0;
    .inline {display:inline-block;}
    .wa-number,.wa-number2 {display:inline-block;}
    .wa-number:after {content:"/";padding:0 10px;}
    .email {margin-right:15px;}
}

.iconToTop {background:#fff;cursor:pointer;border: 2px solid rgb(153, 153, 153);border-radius: 50px;color: rgb(153, 153, 153);margin: 0 auto;width:36px;height:36px;display:inline-block;}
.iconToTop2 {
    background: none repeat scroll 0 0 #333;
    border-radius: 5px;
    bottom: 40px;
    color: #f2f2f2;
    padding: 2px 6px 4px;
    position: fixed;
    right: 25px;
    display:none;
    cursor:pointer;
}
/* style for topinfo */
.topinfo {
    .navbar-header {
        button {
            margin-bottom:auto;
            margin-top:-47px;
            color:@link-color;
        }
    }
    .nav li {
        & i {  
            color: @icon-color;font-size:19px;
            &+span {
                margin-left:5px;
            }
            &.fa-envelope-o {
                background:url(../images/enquiry_icon.png) no-repeat center bottom;
                text-indent:-9999px;
                width:25px;
                height:18px;
            }
            &.myphone {
                background:url(../images/stravel_phone.png) no-repeat center bottom;
                text-indent:-9999px;
                width:12px;
                height:19px;
                margin-top:-3px;
                background-size:100% auto;   
            }
        }
        & a {
            color:@font-color;
            font-size:15px;
            padding-left:5px;
            padding-right:5px;
            padding-top:0;
            &.has-caret:before  {content:"\f0d7";font-family:FontAwesome;color:@icon-color;margin-right:3px;}
            &:hover {color:@icon-color;background:none;}    
        }
        &.active a {
            color:@icon-color;background:none;
        }     
    }
}
.moduletable.mobilephone {
    margin-top: -53px;
    margin-left:130px;
    .custom.mobilephone {
        font-size:18px;
        color:#8DC63F;
        p {
            margin-top:-5px;
        }
        a,a:hover {color:#8DC63F;}
        i {
            background:url(../images/stravel_phone.png) no-repeat center bottom;
            text-indent:-9999px;
            width:15px;
            height:24px;
            display:inline-block;
            margin-right:5px;
            position:relative;
            top:5px;    
        }
    }
}
@-moz-keyframes laclu {
  0% {
    -moz-transform: rotate(-30deg);
  }
  10% {
    -moz-transform: rotate(30deg);  
  }
  20% {
    -moz-transform: rotate(-30deg);  
  }
  30% {
    -moz-transform: rotate(30deg);  
  }
  40% {
    -moz-transform: rotate(-30deg);  
  }
  50% {
    -moz-transform: rotate(30deg);
  }
  60% {
    -moz-transform: rotate(-30deg);  
  }
  70% {
    -moz-transform: rotate(0deg);  
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes laclu {
  0% {
    -webkit-transform: rotate(-30deg);
  }
  10% {
    -webkit-transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-30deg);
  }
  30% {
    -webkit-transform: rotate(30deg);
  }
  40% {
    -webkit-transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes laclu {
  0% {
    -o-transform: rotate(-30deg);
  }
  10% {
    -o-transform: rotate(30deg);
  }
  20% {
    -o-transform: rotate(-30deg);
  }
  30% {
    -o-transform: rotate(30deg);
  }
  40% {
    -o-transform: rotate(-30deg);
  }
  50% {
    -o-transform: rotate(30deg);
  }
  60% {
    -o-transform: rotate(-30deg);
  }
  70% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes laclu {
  0% {
    -ms-transform: rotate(-30deg);
  }
  10% {
    -ms-transform: rotate(30deg);
  }
  20% {
    -ms-transform: rotate(-30deg);
  }
  30% {
    -ms-transform: rotate(30deg);
  }
  40% {
    -ms-transform: rotate(-30deg);
  }
  50% {
    -ms-transform: rotate(30deg);
  }
  60% {
    -ms-transform: rotate(-30deg);
  }
  70% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes laclu {
  0% {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.mainnav {
    .navbar-header {
        margin-top:-80px;float:right;
        color:@lightfont-color;
        .navbar-toggle {
            margin-right:auto;
            padding-right:0;
        }
    }
    ul.navbar-collapse {
        padding-left:0;
        padding-right:0;
    }
    li {
        background:#f8f8f8;
        border-bottom:1px solid #fff;
    }
    a {
        font-size:16px;
        i.fa {
            color:#4db848;
            margin-right:8px;
            &.myphone {
                background:url(../images/stravel_phone.png) no-repeat center bottom;
                text-indent:-9999px;
                width:12px;
                height:19px;
                margin-top:-3px;
                background-size:100% auto;   
            }
        }
        &:after {
            content:">";
            position:absolute;
            right:10px;
            color:@lightfont-color;
        }
    }
    .active a {color:@link-color;}
}
#abovefooter {
    background:#000;
    padding:50px 0;
    color:#fff;
    & h5 {font-weight:bold;}
    & .menu li a {
        color:#fff;padding:3px 0;transition: padding-left 0.2s linear; -webkit-transition: padding-left 0.2s linear;
        &:before {
            content:"\f105";
            background: none repeat scroll 0 0 #6d6e71;
            border-radius: 50px;
            color: #aaa;
            display: inline-block;
            font-family: FontAwesome;
            height: 15px;
            margin-right: 5px;
            padding-left: 6px;
            width: 15px;
            font-size:10px;
            line-height:15px;
        }
        &:hover,&:focus {
            color:@link-color;background:none;padding-left:10px;
            &:before {background:@link-color;color:#fff;}
        }
    }
    & .phoneicon {background: url(../images/phoneicon.png) no-repeat left center;padding-left:25px;line-height:21px;}
    & .whatsappnumber {
        width:275px;
        & li {
            display:inline-block;
            color:#8DC63F;
            a {
                color:#8DC63F;
                padding:0 3px;
                display:inline-block;
                &:hover,&:focus {
                    background:none;
                    color:#8DC63F;
                }    
            }
            &:after {content:"/";padding:0 5px;}
            &:last-child:after {content:"";padding:0;}
        }
    }
    & .calltoaction {color:#8DC63F;font-size:18px;}
    .sociallink {
        background:url(../images/social_icon.png) no-repeat left top;
        width:89px;
        height:28px;
        margin-bottom:20px;
        a {
            float:left;
            width:29px;
            height:28px;
        }
    }
    .gsc-control-cse {
        color: #555;
        line-height:16px;
        background:none;
        border:none;
        padding:0;
        margin-top:15px;
        .gsc-search-box-tools .gsc-search-box .gsc-input {
            padding-right:0;
        }
        input.gsc-search-button-v2 {
            width: 26px;
            height: 25px;
            padding: 7px;
            margin-top: 4px;
            border: none;
            margin-left: 0px;
            border-radius: 0;
        }
    }
}
footer {
    padding-bottom:20px;
    .footermenu ul {
        text-align:center;
        & li {
            display:inline-block; 
            &:after {content:"|";}
            &:last-child:after {content:"";}
            & a {
                color:#6D6E71;
                display:inline-block;
                padding:3px 10px;
                &:hover {color:@link-color;}
            }
        }
    }
    .custom.text-center {
        margin-top:10px;
    }
}
#maincontent {
    padding-bottom: 40px;
    .site & {
        background:url('../images/stravel_background.jpg') repeat center top;
        th {font-weight:normal;}
    }
}
.searchtab li {
    display:inline-block;
    float:left;
    border-right:1px solid #fff;
    .effect() {
        span {
                &.package-icon {background-position: 0px 0px;}
                &.airticket-icon {background-position: -15px 0px;}
                &.hotel-icon {background-position: -52px 0px;} 
                &.cruise-icon {background-position: -30px 0px;}
                &.jettour-icon {background-position: -75px 0px;}
            }
    }
    &:last-child {border-right:none;}
    &.active a {
        background:#FBB040;
        .effect();
    }
    & a {
        padding:5px 3px;background:#999A9E;color:#fff;
        
        & span {
            background:url(../images/sprite.png) no-repeat;
            margin-right:2px;
            display:inline-block;
            position:relative;
            top:3px;
            &.package-icon {
                width:15px;height:14px;background-position: 0px -14px;margin-right:3px;
                .firefox & {margin-right:4px;}
            }
            &.airticket-icon {background-position: -15px -14px;height: 14px;width: 15px;}
            &.hotel-icon {background-position: -52px -14px;width:22px;height: 14px;} 
            &.cruise-icon {background-position: -30px -14px;width:22px;height: 14px;}
            &.jettour-icon {background-position: -75px -14px;width:14px;height: 14px;margin-right:4px;}
        }
        &.en-GB {
            padding:10px 2px;
            & span {top:1px;}
        }
        &:hover {
            background:#FBB040;
            .effect();
        }
    }
    
}
.fakeselect {
    background:url('../images/GreyUpdDown.GIF') no-repeat right center #fff;
    .open & {
        background:url('../images/OrangeUpdDown.GIF') no-repeat right center #fff;
        border-color:#fbb040;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(251, 176, 64, 0.6);    
    }
}
.fakeselectgray {background:url('../images/PullDownScrollIcon.jpg') no-repeat right center #fff;border-right:none;background-size:auto 110%;height:25px;line-height:11px;}
.search .tab-content {
    background:#E6E7E8;
    & .tab-pane {
        .front & {
           padding:17px 15px 0; 
        }        
        & .form-group {
            color:#999A9E;
            margin-bottom:4px;
            & label {margin-bottom:2px;font-weight:400;font-size:12px;}
            & .form-control {
                height:auto;font-size:12px;padding:2px 5px;
                &:focus {
                    border-color:#fbb040;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(251, 176, 64, 0.6);
                }
            }
            & .datepicker {
                background:url('../images/GreyCalendar.GIF') no-repeat 98% center / 12px 12px #fff;
                &:focus {
                    background:url('../images/OrangeCalendar.GIF') no-repeat 98% center / 12px 12px #fff;    
                }
            }
        }
        & .search_button {
            background: #D1D3D4;padding-top:22px;padding-bottom:22px;margin-top:13px;
            & button {background: url("../images/sprite.png") no-repeat scroll 0 -28px;border:none;color: #fff;height: 30px;text-align: left;width: 92px;}
        }
        .dropdown-menu {
            padding:0;
            font-size:11px;
            border-radius:0;
            li {
                &.selected a,a:hover {
                    color:#4db868;
                }
            }
            &.packagecitylistitem, &.aircitylistitem, &.hotelcitylistitem {
                li {
                    border-bottom:1px dashed #f0f0f0;
                    a {
                        line-height:26px;
                        padding:0 10px;
                    }    
                }                
            }
        }        
    }    
}
.hotproduct {
    margin-top:30px;
    & .hot-product-image {background:#fbb040;position:relative;}
    & .hot-product-info {
        padding:16px 15px;overflow:hidden;
        background:#0B0F19;
        & h4 {margin:auto;color:#fff;font-size:16px;}
        & .priceandicon {
            color:#8DC63F;
            & .price {font-size:16px;}
            a {margin-left:5px;}    
        }
    }
}
.topten {
    margin-top:15px;
    overflow:hidden;
    & h3 {font-size:19px;font-weight:400;}
    & .topten-item {
        cursor:pointer;
        float:left;width:100%;border-bottom:1px solid #D1D3D4;padding:10px 0;
        color:#818285;
        #hotelhome & {cursor:pointer;}
        .front & { min-height:50px; max-height:50px;}
        .site & {padding:3px 0;}
        & .name {
            color:#58595B;font-size:17px;width:30%;
            .topten-hotel& {width:35%;max-height:25px;overflow:hidden;}
        }
        & .time {
            font-size:10px;width:21%;margin-right:5%;overflow:hidden;
            #hotelhome & {width:33%;line-height:13px;margin-right:2%;overflow:hidden;max-height:26px;}
            .topten-hotel& {width:25%;overflow:hidden;max-height:30px;}
            .front & {height:30px;}
        }
        & .cx {font-size:10px;font-family:Roboto,sans-serif;width:7%;line-height:28px;margin-right:7%;line-height:15px;}
        & .price {
            font-family:Roboto,sans-serif;font-size:18px;color:#009444;font-weight:bold;width:30%;text-align:right;
            .topten-hotel& {width:35%;}
        }
    }
    .topten-info {
        .top10item- {
            &5,&6,&7,&8,&9,&10,&11 {display:none;}
        }
        &.moreitems {
            .top10item- {
                &5,&6,&7,&8,&9,&10,&11 {display:block;}
            }    
        }
    }
    & .viewmore a {
        color:@link-color;
        display:inline-block;
        margin-top:10px;
        &:after {
            content:"\f0da\f0da";
            color: @link-color;
            display: inline-block;
            font-family: FontAwesome;
            margin-left:5px;
        }
    }
}
.viewmore a {
    color:@link-color;
    display:inline-block;
    margin-top:10px;
    &:after {
        content:"\f0da\f0da";
        color: @link-color;
        display: inline-block;
        font-family: FontAwesome;
        margin-left:5px;
    }
}
.middletext {
    background:#d1d3d4;padding:25px 0 35px 0;margin:35px auto 50px;
    & .text {font-size:22px;font-weight:bold;color:#414042;}
    & .buttonst a {
        border-radius:10px;border:1px solid #414042;color:#414042;
        margin-top:15px;
        &:hover {color:@link-color;border-color:@link-color;} 
    }
    .carousel-indicators {
        bottom:-40px;
        li {
            background:#fff;
            margin:auto 1px;
        }
        .active {
            background-color:#4db848;
            border-color:#4db848;
            width:10px;
            height:10px;
            margin:auto 1px;
        }
    }
}
.discount-item {
    box-shadow: 1px 2px 3px 2px #d1d3d4;
    margin-bottom:33px;
    &-image {background:#fbb044;min-height:135px;position:relative;}
    &-info {padding:6px;
        h {
            &5,&6 {margin:5px auto;}
            &5 {font-size:16px;height:20px;overflow:hidden;}
        }
        .price {
            margin-top:-25px;
            a {
                color:#8DC63F;font-size:17px;
                &:after {
                    content:"\f105";
                    display: inline-block;
                    font-family: FontAwesome;
                    margin-left:5px;
                }
            }
        }
    }    
}
.discount {
    .row {
        /*& + .row {margin-top:33px;padding-top:33px;border-top:1px solid #D1D3D4;}*/
        h3 {margin-bottom:4px;}
    }
}
#stravel-slideshow {
    margin-bottom:20px;
    .item { 
        text-align:center;
        background-color:#d3d3d3;
        img {max-height:400px;width:1600px;height:400px;max-width:1600px;margin:auto;}
        .carousel-caption {
            font-size:22px;text-shadow: 0 1px 2px rgba(77, 184, 104, 0.6);display:none;
            a {color:#50b848;}
        }
        &.hover .carousel-caption {display:block;}
    }
    .carousel-indicators {
        bottom:0px;
        li {
            background:#fff;
            margin:auto 10px;
        }
        .active {
            background-color:#4db848;
            border-color:#4db848;
            width:10px;
            height:10px;
            margin:auto 10px;
        }
    }
}
.quataimg {
    margin-top:25px;
    text-align:center;
    img {display:inline-block;}
}
/* Style for other homepage */
.hasbackground {background:#4DB848;color:#fff;}
/* General first */
.left-pane {
    background:#E7E8E9;
    overflow:hidden;
    padding-bottom:20px;
    box-shadow:-4px 0 4px 0 #b8b8b8;
    .selectroute {
        .gradientgray {
            display:block;
            border-radius:0;
            background: -webkit-linear-gradient(#FBFBFD,#CECFD1); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#FBFBFD,#CECFD1); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#FBFBFD,#CECFD1); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#FBFBFD,#CECFD1); /* Standard syntax */
            .fakeselect {
                background:url('../images/triangle2.png') no-repeat right center;
                padding-top:1px;
                padding-bottom:1px;
                height:auto;
                border-radius:0;
            }
        }
        &.starfilter {
            .route-item {
                height:20px;
            }
        }
    }
    .panetitle {
        color:#fff;background:#4DB848;text-align:center;padding:20px 0;position:relative;
        h3 {font-size:21px;margin:4px auto;}
        &:after {
            width:35px;
            height:25px;
            background:url('../images/hometitleafter.gif') no-repeat left top;
            margin-left:-16px;
            bottom:-25px;
            content:"";
            position:absolute;
            left:50%;
        }
    }
    .search .tab-content .tab-pane {
        .search_button {padding:0 15px;background:none;}
        .form-group {
            label,span,input {
                color:@font-color;
            }
        }
    }
    .searchform {
        padding:5px 18px;
        .tabbtn {
            margin:20px auto 10px;
            label {
                font-size:12px;
                padding-left:15px;
                color: @lightfont-color;
                input {margin-left:-15px;}
                img {
                    height:12px;
                    &.airticketIcon {
                        margin-right:2px;
                    }
                    &.cruiseIcon {
                        width:20px;
                        height:auto;
                    }
                    &.packageIcon {
                        margin-right:3px;
                        margin-left:3px;
                    }
                }
            }
        }
    }
    .topten {
        padding:5px 18px;
        margin-top:5px;
        border-top:1px solid #d1d3d4;
        .topten-item {
            & .name, & .price {
                font-size:12px;
            }
            .time {font-size:10px;width:30%;margin-right:5%;max-height:28px;}
            .price {width:35%;}
            .name {
                #packagehome & {width:40%;}
            }
            .price {
                #packagehome & {width:25%;}    
            }
        }
    }
    .filterleft {
        margin-top:30px;
        #cruisehome & {margin-top:26px;}
        .selectroute {
            padding:20px 15px 20px 15px;
            border-top:1px solid #d1d3d4;
            h4 {font-size:16px;}
            .route-item {
                label {font-weight:400;padding-left:8px;}
                i {color:#4db848;font-size:18px;margin:auto 5px;}
            }
            &.cruisedestinationselect {
                padding-top:26px;
            }
            &.hotelnamefilter {
                .form-control {
                    height:auto;font-size:12px;padding:2px 5px;
                    &:focus {
                        border-color:#fbb040;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(251, 176, 64, 0.6);
                    }
                }
            }
        }
        #hotelresult & {
            margin-top:20px;
            .selectroute {
                h4 {
                    font-size:11px;
                    margin-top:15px;
                }
            }   
        }
    }
    .dragprice {
        p {
            margin-bottom:auto;
        }
    }
    .dropdown-menu > li > a {padding:0 10px;}
    .areaselection {
        ul.dropdown-menu {
            max-height:267px;
            overflow-y:scroll;
        }
    }    
}
.right-pane {
    padding-top:20px;
    border-top:1px solid #d1d3d4;
    background:#fff;
    box-shadow:4px 0 4px 0 #b8b8b8;
    .pagination {
        font-size:14px;
        li {
            a {color:@font-color;padding:6px 10px;}
            &.pagsseitem {
                display:none;
                &.showed {display:inline;}
                &.disabled {
                    a {
                        color:@link-color;
                        font-weight:bold;
                    }
                }
            }
        }
    }
    .basicsort {
        padding-left:15px;
        padding-right:15px;
        .col-md- {
            &3 {
                margin-bottom:5px;
            }
        }
        p {
            margin-bottom:auto;
            line-height:27px;
        }
    }
    .filter {
        padding-left:15px;
        padding-right:15px;
        p {color:@link-color;margin-bottom:auto;}
        .linklist {margin-bottom:10px;}
        a {
            padding:0 3px;
            display:inline-block;
        }
    }
    .airlineinfo {
        position:relative;
        display:inline-block;
        margin-top:6px;
        color:@lightfont-color;
        border-left:1px solid @lightfont-color;
        padding-left:5px;
        font-size:13px;
        height:13px;
        line-height:13px;
        .infoicon {
            background:url(../images/btn_more_info_off.png) no-repeat left top;
            width:16px;
            height:16px;
            display:inline-block;
            background-size:100% auto;
            margin-right:5px;
            margin-left:3px;
            position:relative;
            top:-1px;
            &:hover {
                background-image:url(../images/btn_more_info.png);    
            }
        }
        .tooltip {
            background:none;
            border:none;
            width:auto;
            min-width:70px;
        }
    }
    .itemlist {
        overflow:hidden;
        .hotelresultheader {
            background: #4db848;
            color:#fff;
            font-size:12px;
            line-height:40px;
            .htinfo {
                display:block;
                margin-right:-10px;
            }
        }
        .hotelresult-item {
            border-left:1px solid #d1d3d4;
            border-right:1px solid #d1d3d4;
            border-bottom:1px solid #d1d3d4;
            .envelophotel {
                background: url('../images/hotel_enquiry_icon.png') no-repeat left top;
                display:block;
                width:38px;
                height:26px;
                background-size:100% 100%;
                margin:8px 2px 10px -8px;
                float:right;
            }
            .zoomhotel {
                background: url('../images/zoom_hotel.png') no-repeat left top;
                display:block;
                width:26px;
                height:26px;
                margin:10px auto;
                cursor:pointer;
            }
            .hotelresult-txt {
                display:inline-block;
                margin:10px 0; 
            }
        }
        .hotelresultheader,.hotelresult-item {
            padding-left:15px;
            padding-right:15px;
            .col-xs- {
                &1,&2,&3,&4,&5,&6,&7,&8,&9,&10,&11,&12 {
                    padding-left:2px;
                    padding-right:2px;
                }
            }
            .col-md-4 {
                padding-top:0;
                padding-bottom:0;
            }
        } 
        .col-md-11.col-md-offset-1 {
            & > .row, & .page-sep > .row {
                .productpage &,&.noborder,&.margintop {
                    border-bottom:none;
                }    
            }
            &.noborder {margin-top:33px;margin-bottom:33px;}
            &.noborder > .row, &.noborder .page-sep > .row {
                border-bottom:none;
                & > .col-md-6 {
                    font-size:12px;
                    color:@font-color;
                    a {
                        color:@font-color;
                        &:hover {color:@link-color;}
                    }
                    .row {
                        background:#f1f2f2;
                        padding:5px;
                    }
                    .row.headtbl {
                        background: #8DC63F;
                        color:#fff;
                        padding:8px 5px;
                        margin-bottom:5px;
                    }
                }    
            }
        }
        .col-md-4 {            
            padding-bottom:33px;
            padding-top:33px;
        }
        .productpage & {
            overflow:hidden;
            .col-md-4 {
                border:none;
                padding-top:0;
                padding-bottom:0;
            }
            .packageFlyerInfo {
                p {margin-bottom:auto;}
                .infoLabel {
                    min-width:70px;
                    color:@link-color;
                    display:inline-block;
                }
                .packageInfoLeft {
                    border-top:1px solid #d1d3d4;
                }
                .packageInfoLeft,.packageInfoRight {
                    padding:10px 15px;
                    border-bottom:1px solid #d1d3d4;
                }
            }
            .packageFlyerImage {
                float:left;
                width:100%;
                border-top:2px solid #f3f3f5;
                div p {
                    padding-left:15px;
                    padding-right:15px;
                }
                .infoLabel {
                    min-width:70px;
                    color:@link-color;
                    display:inline-block;
                }
                .greenclr {
                    color:@link-color;
                    margin-bottom:auto;   
                }
                .packageFlyerImageItem {margin-bottom:20px;}
                .shareProduct {
                    padding-left:15px;
                    padding-right:15px;
                    padding-bottom:10px;
                    text-align:left;
                    .fb-like {
                        float:left;
                        width:80px !important;
                    }
                    a {
                        display:inline-block;
                        margin:auto 2px;
                        img {margin-top:-4px;}
                    }
                }
            }
            .packageRelated {
                padding-left:15px;
                padding-right:15px;
                border-top:2px solid #f3f3f5;
                margin-top:33px;
                overflow:hidden;
                h5 {color:#88C53B;margin-top:33px;}
                .col-xs- {
                    &1,&2,&3,&4,&5,&6,&7,&8,&9,&10,&11,&12 {
                        padding-left:1px;
                        padding-right:1px;
                    }
                }
                .relatedheader {
                    background: #88C53B;
                    overflow: hidden;
                    padding-left: 3px;
                    padding-right: 3px;
                    color:#fff;
                    margin-bottom:10px;
                }
                .relateditem {
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size:12px;
                    .twolineonly {
                        max-height:44px;
                        overflow:hidden;
                    }
                }
                &.otherPackage {
                    margin-bottom:33px;
                    float:left;
                    width:100%;
                }
            }
        }
    }
    .product-item {
        background:#f2f2f2;
        position:relative;
        .product-image {
            & > img, & > a > img {width:100%;}
            position: relative;
            .package-feature {
                display:none;
                position:absolute;
                left:0;
                top:0;
                background: url('../images/whitetrans.png') repeat left top;
                z-index:2;
                height:100%;
                width:100%;
                cursor:pointer;
                padding:5px;
                overflow:hidden;
            }
            &.hover {
                .package-feature {
                    display:block;
                }
            }
            .caption {
                background: url('../images/whitetrans.png') repeat left top;
                bottom: 0;
                padding: 3px 5px;
                position: absolute;
                text-align: left;
                width: 100%;
                h6 {
                    margin:6px auto 2px;
                    & + h6, #cruisehome & {margin-top:auto;}
                    img {
                        display: inline-block;
                        margin-right: 5px;
                        margin-top: -6px;
                        height: 16px;
                    }
                }
                span {
                    img {
                        display: inline-block;
                        width:18px;
                        margin-top:5px;
                        margin-right:3px;
                    }
                }
            }
        } 
        .product-info {
            padding:5px;
            overflow:hidden;
            &.package-info {
                overflow:visible;
            }
            h4 {margin-top:auto;margin-bottom:5px;}
            h6 {
                margin:3px auto;
                #cruisehome &, #airticket & {font-size:10px;min-height:22px;max-height:22px;overflow:hidden;}
            }
            .hotel,.cruise,.airticket {
                &-price {width:77%;float:left;font-weight:400;font-size:13px;color:#4db848;}
                &-link {
                    width:20%;margin-left:2%;float:left;
                    a {
                        background:url("../images/green_icon_enquiry.png") no-repeat left top;
                        width:39px;
                        height:25px;
                        background-size:100% 100%;
                        display:inline-block;
                    }   
                } 
            }
            .package {
                &-price {
                    h4 {
                        margin-top:6px;
                        font-size:13px;
                        color:#4db848;
                    }
                }
                &-link {
                    .imgbtnbg {
                        background: url("../images/green_letter_download_icon.png") no-repeat scroll right center;
                        float: right;
                        width: 50.3px;
                        height:26px;
                        background-size:auto 100%;
                        a {
                            display:inline-block;
                            width:23px;
                            height:26px;
                        }
                    } 
                }
            }
            .cruise-bottom-info {margin-top:3px;}
        }
    }
    .headrow,.itemrow {float:left;width:100%;font-size:12px;line-height:16px;max-height:20px;overflow:hidden;}
    .headrow {color:#fff;background:@link-color;padding:2px 0;margin-bottom:6px;}
    .colum {
        &-1 {width:19%;float:left;padding:2px;}
        &-2 {width:43%;float:left;padding:2px;}
        &-3 {width:18%;float:left;padding:2px;}
        &-4 {
            width:10%;float:left;padding:2px;
            img {width:14px;cursor:pointer;}
        }
        &-5 {
            width:10%;float:left;padding:2px;
            img {width:14px;cursor:pointer;}
        }
    } 
}

.login {
    .control-group {
        overflow:hidden;
        margin:15px auto;
        .control-label {
            float:left;
            width:20%;
            margin-right: 5%;
        }
        .controls {
            float:left;
            width:75%;
            input[type="text"],input[type="password"] {
                width:100%;
                border:1px solid #d1d3d4;
                padding:0 10px;
            }
        }
    }
}
.urlmanagment {
    background:#fefefe;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.6);
    .stravelnav .pagination {margin:auto;}
    .filterurl {
        padding:10px;
        min-height:40px;
    }
    .tooltip {
        background:none;
        border:none;
        width:auto;
        min-width:70px;
    }
    .vcenter {
        vertical-align:middle;
    }
}
.urlmanagmentedit {
    background:#fefefe;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.6);
    padding:15px;
}
.extendright {
    .moduletable {
        h5,h6 {
            margin-bottom:3px;
        }
    }
}
/* for package*/
#packagehome {
    
}
/* Modal */
.modal-content {
    border-radius:0;
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    #b6b6b6;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #b6b6b6;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #b6b6b6;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color:    #b6b6b6;
    }
}
#enquiryModal,#enquiryGeneralModal,#enquiryNewsletterModal,#staffModal {
    .modal-content {
        background:#8DC73F;
        color:#fff;
        .modal-header {
            border-bottom:none;
            padding:15px 30px;
            .close {
                color:#fff;
                font-size:26px;
                font-weight:300;
                opacity:1;
            }
        }
        .modal-body {
            padding:15px 40px;
            .form-control {
                border-radius:0;
            }
            textarea {
                min-height:120px;
            }
            .productEnqueryInfo {
                border:1px solid #fff;
                padding:10px;
                min-height:100px;
                margin-bottom:20px;
                p {
                    margin-bottom:5px;
                }
            }
            .form-button {
                button {
                    padding:5px 10px;
                    color:#fff;
                    background: #949599;
                    border:none;
                    &.submitbtn {
                        background: url(../images/whitearrow2.png) no-repeat 85% center #949599;
                        padding-right:35px;
                    }
                }
            }
            .modalthankyou {
                display:none;
                font-size:30px;
                
                .close2continuebtn {
                    color:#fff;
                    font-size:22px;
                    cursor:pointer;
                    &:after {
                        content: "\f0da\f0da";
                        color: #fff;
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-left: 5px;
                    }
                    &:hover {color:#fefefe;}
                }
            }  
        }   
    }
}
#enquiryGeneralModal,#enquiryNewsletterModal {
    .modal-dialog {
        margin-top:130px;
    }    
}
#enquiryNewsletterModal,#staffModal {
    .modal-header {
        margin-top:30px;
    }
    #enquiryNewsletterModalLabel,#staffModalLabel {
        background: url(../images/envelopnewsletter.png) no-repeat left center;
        padding-left:40px;
        margin-left:11px;
        background-size:30px auto;
        font-size:26px;
    }
    .newsleter.submitbtn {
        background:#fefefe !important;
        padding:6px 10px !important;
        color:#555 !important;
        font-size:20px;
        margin-bottom:18px;
    }
    .form-group {
        margin-bottom: 25px;
        input {
            height:38px;
        }
        .dropdown {
            &-menu {
                max-height:320px;
                &.selectdate {
                    overflow-y:scroll;    
                }
                &.dropup {
                    &-branch {
                        top:-324px;
                        box-shadow:none;
                    }
                    &-source {
                        box-shadow:none;
                        top:-224px;
                    }
                }                
            }
        }
    }
    .fakeselectgray {
        background: url(../images/GreyTriangle.png) no-repeat 95% center #fff;
        display:block;
        color:#b6b6b6;
        padding-left:5px;
        line-height:38px;
        height:38px;
        background-size:auto 12px;
    }
}
#staffModal {
    .staffExtend {
        border-top:1px solid #fff;
        padding-top:15px;
        .deptitle {
            padding:8px 0;
            display:block;
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
}
#myLargeAirTicketModal {
    color:#fff;
    .modal-content {
        background:#BCBEC0;
    }
}

#loadingModal {
    .modal-content {
        background: none;
        box-shadow: none;
        border: none;
        margin-top:30%;
        .loadingimg {
            background: url(../images/BigCircleGreen.gif) no-repeat center center;
            width:188px;
            height:188px;
            margin:0 auto;
        }
    }
}

#myHotelSearchModal {
    .modal-content {background:#4CB848;color:#fff;}
    .modal-header {border-bottom:none;}
    .modal-body {
        .submit {
            button {
                background: url(../images/whitearrow2.png) no-repeat 85% center #fff;
                border:none;
                color:@font-color;
                padding-right:35px;
            }
        }
    }
}

#myLargeHotelResultModal {
    .closebutton {
        font-size:24px;
        color: #777;
        padding: 0 4px;
        float:right;
        cursor:pointer;
    } 
    .hotelinfo img {margin:5px auto;}
}
#myLargeAirTicketModal {
    .modal-body {
        padding-left:55px;
        .closebutton {
            font-size:18px;
            color:#fefefe;
            padding:0 5px;
            cursor:pointer;
            position:absolute;
            top:5px;
            right:15px;
        }
        .labelremark {
            margin-left:-40px;
            .white {
                color:#fff;
                display:inline-block;
                margin-right:10px;
            }
            .green {
                color:#4db848;
            }
        }    
    }    
}
.modal-contactus-size {
    &.modal-dialog {margin-top:110px;}
    .hasshortline {
        border-bottom:1px solid #d1d3d4;
        padding-bottom:12px;
    }
    .col-md-8 {
        div {
            /*background: none !important;*/
            padding:0;
        }
    }
    .closebutton2 {
        font-size:20px;
        float:right;
        cursor:pointer;
        line-height:0;    
    }
}

.margintop {margin-top:33px;padding-bottom:33px;}
.maxwidth,.tempimg {width:100%;}
.subcribeform .input-group {
    input {
            border: medium none;
            border-radius: 0;
            font-weight: 400;
            height: 22px;
            padding: 3px 10px;
        }
        button {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: medium none;
            border-radius: 0;
            padding: 0;
            .firefox & {
                margin-top:-1px;
            }
        }
}
.width(@percent:100) {
    float:left;
    width:@percent;
}
.width-40 {
    .width(100%);
}
.width-20 {
    .width(100%);
}

/* Carousel fade */
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

#msrcontainer {
    .mansonryitem {
        width:25%;
        margin-bottom:15px;
        .touritem-wrapper {
            padding-left:10px;
            padding-right:10px;
        }
    }
}

/* MEDIA QUERIES
*********************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query -> mobile first strategy */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logo {text-align:center;}
    .mainnav {
        li {
            float:left;
            background:none;
            border-bottom:none;
        }
        a {
            &:after {
                display:none;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .width-40 {
        .width(40%);
    }
    .width-20 {
        .width(20%);
    }
    .moduletable.mobilephone {
        margin-top: -68px;
        margin-left:63%;
    }
    #generalpage-contactus {
        .biglastcontactitem {
            padding-left:4px !important; 
        }
    }
    .col-md-4 .topten {margin-top:50px;}
    .mainnav .mainnav {
        margin-left:-15px;
        li {
            .packagesubmenu {
                z-index:110;
                width:740px;
                position:absolute;
                top:28px;
                float:left;
                display:none;
                .pksubmenu {
                    &-arrow {
                        float:left;
                        width:100%;
                        min-height:15px;
                        background:url(../images/pkarrow.png) no-repeat 17px bottom;
                        background-size: 28px auto;
                    }
                    &-wrapper {
                        float:left;
                        width:100%;
                        background:#fff;
                        padding:15px;
                        box-shadow:0 5px 5px 0 rgba(0,0,0,0.5);
                    }    
                }              
                .pksection {
                    float:left;
                    width:155px;
                    margin-right:30px;
                    border-right:1px solid #d1d3d4;
                    .pkmorebtn {
                        float:right;
                        font-size:12px;
                        margin-right:31px;
                        margin-top:6px;
                        color:@link-color;
                        &:after {
                            content:"\f0da\f0da";
                            display: inline-block;
                            font-family: FontAwesome;
                            margin-left: 15px;
                            color:@link-color;
                            position:relative;
                        }
                    }
                    &.last {
                        border-right:none;
                        margin-right:auto;
                    }
                    .subtitle {
                        float:left;
                        width:100%;
                        color:@link-color;
                        font-size:16px;
                        margin-bottom:10px;
                    }
                    .ulpksub {
                        list-style:none;
                        float:left;
                        width:75px;
                        margin:auto;
                        padding:0;
                        li {
                            float:left;
                            width:65px;
                            a {
                                display:block;
                                font-size:14px;
                                background:none;
                                color:@font-color;
                                &:hover {
                                    color:@link-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        li:hover {
            & > a {background:none;color:@link-color;}  
        }
    }
    .headrowhastop {margin-top:auto;}
    .disclaimer {
        padding-left:0;
        padding-right:0;
        .col-md-5.text-right {
            text-align:right !important;
        }
        #hotelresult & {
            padding:33px 0;    
        }
    }
    .modal-contactus-size {
        width:777px;
        .col-md-8 {
            div {
                background-size:100% auto !important;
                padding-left:38px;
                padding-top:8px;
                padding-bottom:15px;
            }
        }
    }
    .maxwidth {max-height:170px;min-height:170px;}
    .tempimg {max-height:179px;}
    .bannerimg {height:252px;}
    .search .tab-content {
        .tab-pane{
            &#jettour-search {
                padding-top:40px;
                .form-group {margin-bottom:17px;}
            }
            .row {
                margin-left:-4px;margin-right:-4px;
                .col-md {
                    .front & {
                        &-1,&-2,&-3,&-4,&-5,&-6,&-7,&-8,&-9,&-10,&-11,&-12 {
                            padding-left:4px;
                            padding-right:4px;    
                        }       
                    }
                }
               .front &.search_button_row {
                    margin-left:-15px;margin-right:-15px;
                    .col-md-12.search_button {padding-left:15px;padding-right:15px;}
                }            
            }
            .dropdown-menu {
                min-width:100%;
            }
            .hotelcitylist,.aircitylist {
                .dropdown-menu {
                    min-width:385px;
                }    
            }
            
        }
    }
    .quataimg img {display:block;}
    .left-pane {
        margin-right:-30px;
        overflow:visible;
        padding-bottom:0px;
        float:left;
        & > div {
            float:left;
            width:100%;
        }
        .searchform {
            .tabbtn {
                .row {margin:auto;}
                .col-xs-4,.col-xs-8 {padding-left:0;padding-right:0;}
            }
            .tab-content {
                .tab-pane {
                    .form-group {
                        & label, & input, & span  {font-size:11px;}
                    }
                }
            }
        }
        .search .tab-content .tab-pane {
            .search_button {padding:0 3px;}
        }
        .filterleft {
            .selectroute {
                padding-top:5px;
                .companyselect {
                    h4 {
                        margin-bottom:6px;
                        margin-top:33px;
                        font-size:14px;
                    }
                }
            }            
        }        
    }
    .right-pane {
        .itemlist {
            padding-right:8%;
            .pagination {
                margin-top:auto;
                margin-bottom:29px;
            }
            .hotelresult-item {
                border-bottom:none;
            }
            .col-md-11.col-md-offset-1 {
                & > .row, & .page-sep > .row {
                    border-bottom:1px solid #d1d3d4;
                }
            }
            .noborder {
                .row {
                    .col-md-6 {
                        padding-left:18px;
                        padding-right:18px;
                        .col-xs- {
                            &2,&3,&4 {
                                padding-left:3px;
                                padding-right:3px;
                            }
                            &1 {
                                padding-left:0px;
                                padding-right:1px;
                            }
                        }
                    }
                }
            }
            .productpage & {
                .packageFlyerInfo {
                    .infoValue {
                        margin-left:5px;
                    }
                    .packageInfoLeft {
                        border-top:none;
                        span {
                            float:left;
                        }
                        .infoValue {
                            width:160px;
                        }
                    }
                    .packageInfoLeft,.packageInfoRight {
                        padding:0 0;
                        border-bottom:none;
                    }
                }
                .packageFlyerImage {
                    margin-top:13px;
                    padding-top:36px;
                    p {overflow:hidden;}
                    .infoLabel {float:left;}
                    .infoValue {float:left;width:80%;}
                    .shareProduct {
                        padding-left:0;
                        padding-right:0;
                        text-align:right;
                        .fb-like {float:none;}
                    }
                    div p {
                        padding-left:0;
                        padding-right:0;
                    }
                }
                .packageFlyerImage,.packageRelated {
                    position:relative;
                    float:left;
                    width:100%;
                    padding-left:0;
                    padding-right:0;
                }
            }
        }
        .product-item {
            .product-image {
                & > img,&>a>img {
                    width:190px;
                    height:149px;
                } 
            }
        }
        .filter {
            .col-md-offset-1 {
                .row {
                    .col-md- {
                        &11 {
                            border-bottom: 1px solid #d1d3d4;
                            border-top: 1px solid #d1d3d4;
                            margin: 22px auto;
                            padding: 15px 15px 5px;
                            min-height:72px;
                        }
                    }
                }
            }
        }
        .basicsort,.filter {
            .row {
                .col-md-11.col-md-offset-1 {
                    & > .row {
                        margin-left:-30px;
                    }
                }
            }
        }
        .filter,.basicsort {
            .col-md-offset-1 {
                .row {
                    .col-md-11 {
                        .col-md- {
                           &2 + .col-md-3, &2 + .col-md-9,&2 + .col-md-10 {
                                margin-left:-5%;
                            }
                            &10 .linklist {
                                margin-right:-9%;
                                margin-bottom:10px;
                            }
                            &2 {margin-left:-1%;}
                        } 
                    }
                }
            }
        }
    }
    .searchform .col-md- {
        &6,&12,&10,&8,&4,&5,&7,&3 {padding:0 5px;}
    }
    .extendright {
        margin-left:-30px;
        .moduletable {
            margin-bottom:25px;
            &.subcribeform h5{
                margin-bottom:10px;
                margin-top:2px;
            }
        }
    }
    .width-40 {
        & + & {margin-left:20%;}
    }
    #abovefooter {
            .col-md-2 {padding-left:0px;padding-right:0px;}
            .row {margin-left:auto;margin-right:auto;}
            .whatsappnumber {
                width:auto;
                li:after {
                    content:"";
                }
                li:first-child:after {
                    content:"/";
                }
            }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1015px;
    }
}

/* for higher resolutions (android and retina) */
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (max--moz-device-pixel-ratio: 1.5) {
  
}
