@font-face {
  font-family: RobotoThin;
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
}
.advidea {
  position: absolute;
  left: 10px;
  top: 10px;
}
.advidea .ideaicon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.advidea .ideaicon.ideachrismast {
  background: url("http://www.adholidays.com/adh/cms/Upload/AdvIdeaContent/image/HKG13/HMK/tree-01.png") no-repeat left top;
}
.advidea .ideaicon.ideaeaster {
  background: url("http://www.adholidays.com/adh/cms/Upload/AdvIdeaContent/image/HKG13/HMK/easter-01.png") no-repeat left top;
}
.advidea .ideaicon.ideacny {
  background: url("http://www.adholidays.com/adh/cms/Upload/AdvIdeaContent/image/HKG13/HMK/CNY-01.png") no-repeat left top;
}
.advidea .ideaicon.ideahotsale {
  background: url("http://www.adholidays.com/STravel/cms/Upload/AdvIdeaContent/image/WEB353681/H/DEV/icon1.png") no-repeat left top;
}
.ui-datepicker.ui-widget-content {
  z-index: 1200 !important;
}
.totop {
  margin-top: 20px;
}
.changecolor {
  background: #fbb040;
  color: #fff;
  display: inline-block;
}
.disclaimer {
  font-size: 11px;
  color: #808285;
  padding: 33px 15px;
  border-top: 1px solid #d1d3d4;
}
#cruisehome .disclaimer,
#hotelresult .disclaimer {
  border-top: none;
}
#hotelresult .disclaimer {
  padding: 33px 30px;
}
.disclaimer .col-md-5.text-right {
  text-align: left !important;
}
.copyrighttxt {
  font-size: 12px;
}
.copyrighttxt .firstpart {
  display: inline-block;
  margin-right: 20px;
}
#generalpage-joinus .detailcontent > div,
#generalpage-joinus .detailcontent img,
#generalpage-joinus .detailcontent table,
#generalpage-aboutus .detailcontent > div,
#generalpage-aboutus .detailcontent img,
#generalpage-aboutus .detailcontent table {
  width: 100% !important;
}
#generalpage-joinus .detailcontent img,
#generalpage-aboutus .detailcontent img {
  height: auto !important;
}
#generalpage-contactus .detailcontent p {
  overflow: hidden;
}
#generalpage-contactus .detailcontent p img {
  display: inline-block;
  margin-right: 5px;
}
#generalpage-contactus .detailcontent .hasshortline {
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 12px;
}
#generalpage-contactus .detailcontent .row {
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#generalpage-contactus .detailcontent .row.noborder {
  border-bottom: none;
  margin-bottom: auto;
}
.displaynone {
  display: none;
}
.branchbtn {
  cursor: pointer;
}
.hottxt {
  color: #414042;
  padding-right: 15px;
  background: url(../images/SmallCircle.GIF) no-repeat right center;
  font-size: 10px;
  position: absolute;
  right: 8px;
}
.site .hottxt {
  margin-right: auto;
}
html {
  overflow-y: scroll;
}
.page-sep {
  display: none;
}
.page-sep1 {
  display: block;
}
body {
  font-family: "Microsoft Jhenghei", "Microsoft YaHei", Roboto, sans-serif;
  font-weight: 300;
}
body.site {
  background: #f3f3f5;
}
body.site #maincontent {
  padding-top: 15px;
}
a {
  color: #808285;
}
a:hover {
  color: #39B54A;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
.nav > li > a:focus {
  background: none;
}
ul.cbreadcrumb {
  list-style: none;
  padding: 0;
}
ul.cbreadcrumb li {
  display: inline-block;
}
ul.cbreadcrumb li:after {
  content: "/";
  padding: 0 10px;
}
ul.cbreadcrumb li:last-child:after {
  content: "";
  padding: 0;
}
ul.cbreadcrumb li a i.fa.fa-home {
  margin-right: 5px;
}
.logo img {
  width: 150px;
  margin-bottom: 8px;
}
header {
  padding-top: 25px;
  background: #fff;
}
.site header {
  box-shadow: 0 4px 4px 0 #b8b8b8;
  margin-bottom: 4px;
}
#slide,
.headrowhastop {
  margin-top: 15px;
}
#top {
  color: #fff;
  background: #8DC73F;
  padding: 3px 0;
}
#top .inline {
  display: inline-block;
}
#top .wa-number,
#top .wa-number2 {
  display: inline-block;
}
#top .wa-number:after {
  content: "/";
  padding: 0 10px;
}
#top .email {
  margin-right: 15px;
}
.iconToTop {
  background: #fff;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
  color: #999999;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  display: inline-block;
}
.iconToTop2 {
  background: none repeat scroll 0 0 #333;
  border-radius: 5px;
  bottom: 40px;
  color: #f2f2f2;
  padding: 2px 6px 4px;
  position: fixed;
  right: 25px;
  display: none;
  cursor: pointer;
}
.topinfo .navbar-header button {
  margin-bottom: auto;
  margin-top: -47px;
  color: #39B54A;
}
.topinfo .nav li i {
  color: #50B848;
  font-size: 19px;
}
.topinfo .nav li i+span {
  margin-left: 5px;
}
.topinfo .nav li i.fa-envelope-o {
  background: url(../images/enquiry_icon.png) no-repeat center bottom;
  text-indent: -9999px;
  width: 25px;
  height: 18px;
}
.topinfo .nav li i.myphone {
  background: url(../images/stravel_phone.png) no-repeat center bottom;
  text-indent: -9999px;
  width: 12px;
  height: 19px;
  margin-top: -3px;
  background-size: 100% auto;
}
.topinfo .nav li a {
  color: #414042;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
}
.topinfo .nav li a.has-caret:before {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #50B848;
  margin-right: 3px;
}
.topinfo .nav li a:hover {
  color: #50B848;
  background: none;
}
.topinfo .nav li.active a {
  color: #50B848;
  background: none;
}
.moduletable.mobilephone {
  margin-top: -53px;
  margin-left: 130px;
}
.moduletable.mobilephone .custom.mobilephone {
  font-size: 18px;
  color: #8DC63F;
}
.moduletable.mobilephone .custom.mobilephone p {
  margin-top: -5px;
}
.moduletable.mobilephone .custom.mobilephone a,
.moduletable.mobilephone .custom.mobilephone a:hover {
  color: #8DC63F;
}
.moduletable.mobilephone .custom.mobilephone i {
  background: url(../images/stravel_phone.png) no-repeat center bottom;
  text-indent: -9999px;
  width: 15px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
@-moz-keyframes laclu {
  0% {
    -moz-transform: rotate(-30deg);
  }
  10% {
    -moz-transform: rotate(30deg);
  }
  20% {
    -moz-transform: rotate(-30deg);
  }
  30% {
    -moz-transform: rotate(30deg);
  }
  40% {
    -moz-transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(30deg);
  }
  60% {
    -moz-transform: rotate(-30deg);
  }
  70% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes laclu {
  0% {
    -webkit-transform: rotate(-30deg);
  }
  10% {
    -webkit-transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-30deg);
  }
  30% {
    -webkit-transform: rotate(30deg);
  }
  40% {
    -webkit-transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
  }
  60% {
    -webkit-transform: rotate(-30deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes laclu {
  0% {
    -o-transform: rotate(-30deg);
  }
  10% {
    -o-transform: rotate(30deg);
  }
  20% {
    -o-transform: rotate(-30deg);
  }
  30% {
    -o-transform: rotate(30deg);
  }
  40% {
    -o-transform: rotate(-30deg);
  }
  50% {
    -o-transform: rotate(30deg);
  }
  60% {
    -o-transform: rotate(-30deg);
  }
  70% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes laclu {
  0% {
    -ms-transform: rotate(-30deg);
  }
  10% {
    -ms-transform: rotate(30deg);
  }
  20% {
    -ms-transform: rotate(-30deg);
  }
  30% {
    -ms-transform: rotate(30deg);
  }
  40% {
    -ms-transform: rotate(-30deg);
  }
  50% {
    -ms-transform: rotate(30deg);
  }
  60% {
    -ms-transform: rotate(-30deg);
  }
  70% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes laclu {
  0% {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.mainnav .navbar-header {
  margin-top: -80px;
  float: right;
  color: #808285;
}
.mainnav .navbar-header .navbar-toggle {
  margin-right: auto;
  padding-right: 0;
}
.mainnav ul.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.mainnav li {
  background: #f8f8f8;
  border-bottom: 1px solid #fff;
}
.mainnav a {
  font-size: 16px;
}
.mainnav a i.fa {
  color: #4db848;
  margin-right: 8px;
}
.mainnav a i.fa.myphone {
  background: url(../images/stravel_phone.png) no-repeat center bottom;
  text-indent: -9999px;
  width: 12px;
  height: 19px;
  margin-top: -3px;
  background-size: 100% auto;
}
.mainnav a:after {
  content: ">";
  position: absolute;
  right: 10px;
  color: #808285;
}
.mainnav .active a {
  color: #39B54A;
}
#abovefooter {
  background: #000;
  padding: 50px 0;
  color: #fff;
}
#abovefooter h5 {
  font-weight: bold;
}
#abovefooter .menu li a {
  color: #fff;
  padding: 3px 0;
  transition: padding-left 0.2s linear;
  -webkit-transition: padding-left 0.2s linear;
}
#abovefooter .menu li a:before {
  content: "\f105";
  background: none repeat scroll 0 0 #6d6e71;
  border-radius: 50px;
  color: #aaa;
  display: inline-block;
  font-family: FontAwesome;
  height: 15px;
  margin-right: 5px;
  padding-left: 6px;
  width: 15px;
  font-size: 10px;
  line-height: 15px;
}
#abovefooter .menu li a:hover,
#abovefooter .menu li a:focus {
  color: #39B54A;
  background: none;
  padding-left: 10px;
}
#abovefooter .menu li a:hover:before,
#abovefooter .menu li a:focus:before {
  background: #39B54A;
  color: #fff;
}
#abovefooter .phoneicon {
  background: url(../images/phoneicon.png) no-repeat left center;
  padding-left: 25px;
  line-height: 21px;
}
#abovefooter .whatsappnumber {
  width: 275px;
}
#abovefooter .whatsappnumber li {
  display: inline-block;
  color: #8DC63F;
}
#abovefooter .whatsappnumber li a {
  color: #8DC63F;
  padding: 0 3px;
  display: inline-block;
}
#abovefooter .whatsappnumber li a:hover,
#abovefooter .whatsappnumber li a:focus {
  background: none;
  color: #8DC63F;
}
#abovefooter .whatsappnumber li:after {
  content: "/";
  padding: 0 5px;
}
#abovefooter .whatsappnumber li:last-child:after {
  content: "";
  padding: 0;
}
#abovefooter .calltoaction {
  color: #8DC63F;
  font-size: 18px;
}
#abovefooter .sociallink {
  background: url(../images/social_icon.png) no-repeat left top;
  width: 89px;
  height: 28px;
  margin-bottom: 20px;
}
#abovefooter .sociallink a {
  float: left;
  width: 29px;
  height: 28px;
}
#abovefooter .gsc-control-cse {
  color: #555;
  line-height: 16px;
  background: none;
  border: none;
  padding: 0;
  margin-top: 15px;
}
#abovefooter .gsc-control-cse .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0;
}
#abovefooter .gsc-control-cse input.gsc-search-button-v2 {
  width: 26px;
  height: 25px;
  padding: 7px;
  margin-top: 4px;
  border: none;
  margin-left: 0px;
  border-radius: 0;
}
footer {
  padding-bottom: 20px;
}
footer .footermenu ul {
  text-align: center;
}
footer .footermenu ul li {
  display: inline-block;
}
footer .footermenu ul li:after {
  content: "|";
}
footer .footermenu ul li:last-child:after {
  content: "";
}
footer .footermenu ul li a {
  color: #6D6E71;
  display: inline-block;
  padding: 3px 10px;
}
footer .footermenu ul li a:hover {
  color: #39B54A;
}
footer .custom.text-center {
  margin-top: 10px;
}
#maincontent {
  padding-bottom: 40px;
}
.site #maincontent {
  /*background: url('../images/stravel_background.jpg') repeat center top;*/
  background: #e9e9e9;
}
.site #maincontent th {
  font-weight: normal;
}
.searchtab li {
  display: inline-block;
  float: left;
  border-right: 1px solid #fff;
}
.searchtab li:last-child {
  border-right: none;
}
.searchtab li.active a {
  background: #FBB040;
}
.searchtab li.active a span.package-icon {
  background-position: 0px 0px;
}
.searchtab li.active a span.airticket-icon {
  background-position: -15px 0px;
}
.searchtab li.active a span.hotel-icon {
  background-position: -52px 0px;
}
.searchtab li.active a span.cruise-icon {
  background-position: -30px 0px;
}
.searchtab li.active a span.jettour-icon {
  background-position: -75px 0px;
}
.searchtab li a {
  padding: 5px 3px;
  background: #999A9E;
  color: #fff;
}
.searchtab li a span {
  background: url(../images/sprite.png) no-repeat;
  margin-right: 2px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.searchtab li a span.package-icon {
  width: 15px;
  height: 14px;
  background-position: 0px -14px;
  margin-right: 3px;
}
.firefox .searchtab li a span.package-icon {
  margin-right: 4px;
}
.searchtab li a span.airticket-icon {
  background-position: -15px -14px;
  height: 14px;
  width: 15px;
}
.searchtab li a span.hotel-icon {
  background-position: -52px -14px;
  width: 22px;
  height: 14px;
}
.searchtab li a span.cruise-icon {
  background-position: -30px -14px;
  width: 22px;
  height: 14px;
}
.searchtab li a span.jettour-icon {
  background-position: -75px -14px;
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.searchtab li a.en-GB {
  padding: 10px 2px;
}
.searchtab li a.en-GB span {
  top: 1px;
}
.searchtab li a:hover {
  background: #FBB040;
}
.searchtab li a:hover span.package-icon {
  background-position: 0px 0px;
}
.searchtab li a:hover span.airticket-icon {
  background-position: -15px 0px;
}
.searchtab li a:hover span.hotel-icon {
  background-position: -52px 0px;
}
.searchtab li a:hover span.cruise-icon {
  background-position: -30px 0px;
}
.searchtab li a:hover span.jettour-icon {
  background-position: -75px 0px;
}
.fakeselect {
  background: url('../images/GreyUpdDown.GIF') no-repeat right center #fff;
}
.open .fakeselect {
  background: url('../images/OrangeUpdDown.GIF') no-repeat right center #fff;
  border-color: #fbb040;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(251,176,64,0.6);
}
.fakeselectgray {
  background: url('../images/PullDownScrollIcon.jpg') no-repeat right center #fff;
  border-right: none;
  background-size: auto 110%;
  height: 25px;
  line-height: 11px;
}
.search .tab-content {
  background: #E6E7E8;
}
.front .search .tab-content .tab-pane {
  padding: 17px 15px 0;
}
.search .tab-content .tab-pane .form-group {
  color: #999A9E;
  margin-bottom: 4px;
}
.search .tab-content .tab-pane .form-group label {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 12px;
}
.search .tab-content .tab-pane .form-group .form-control {
  height: auto;
  font-size: 12px;
  padding: 2px 5px;
}
.search .tab-content .tab-pane .form-group .form-control:focus {
  border-color: #fbb040;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(251,176,64,0.6);
}
.search .tab-content .tab-pane .form-group .datepicker {
  background: url('../images/GreyCalendar.GIF') no-repeat 98% center / 12px 12px #fff;
}
.search .tab-content .tab-pane .form-group .datepicker:focus {
  background: url('../images/OrangeCalendar.GIF') no-repeat 98% center / 12px 12px #fff;
}
.search .tab-content .tab-pane .search_button {
  background: #D1D3D4;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 13px;
}
.search .tab-content .tab-pane .search_button button {
  background: url("../images/sprite.png") no-repeat scroll 0 -28px;
  border: none;
  color: #fff;
  height: 30px;
  text-align: left;
  width: 92px;
}
.search .tab-content .tab-pane .dropdown-menu {
  padding: 0;
  font-size: 11px;
  border-radius: 0;
}
.search .tab-content .tab-pane .dropdown-menu li.selected a,
.search .tab-content .tab-pane .dropdown-menu li a:hover {
  color: #4db868;
}
.search .tab-content .tab-pane .dropdown-menu.packagecitylistitem li,
.search .tab-content .tab-pane .dropdown-menu.aircitylistitem li,
.search .tab-content .tab-pane .dropdown-menu.hotelcitylistitem li {
  border-bottom: 1px dashed #f0f0f0;
}
.search .tab-content .tab-pane .dropdown-menu.packagecitylistitem li a,
.search .tab-content .tab-pane .dropdown-menu.aircitylistitem li a,
.search .tab-content .tab-pane .dropdown-menu.hotelcitylistitem li a {
  line-height: 26px;
  padding: 0 10px;
}
.hotproduct {
  margin-top: 30px;
}
.hotproduct .hot-product-image {
  background: none;
  position: relative;
}
.hotproduct .hot-product-info {
  padding: 16px 15px;
  overflow: hidden;
  background: #0B0F19;
}
.hotproduct .hot-product-info h4 {
  margin: auto;
  color: #fff;
  font-size: 16px;
}
.hotproduct .hot-product-info .priceandicon {
  color: #8DC63F;
}
.hotproduct .hot-product-info .priceandicon .price {
  font-size: 16px;
}
.hotproduct .hot-product-info .priceandicon a {
  margin-left: 5px;
}
.topten {
  margin-top: 15px;
  overflow: hidden;
}
.topten h3 {
  font-size: 19px;
  font-weight: 400;
}
.topten .topten-item {
  cursor: pointer;
  float: left;
  width: 100%;
  border-bottom: 1px solid #D1D3D4;
  padding: 10px 0;
  color: #818285;
}
#hotelhome .topten .topten-item {
  cursor: pointer;
}
.front .topten .topten-item {
  min-height: 50px;
  max-height: 50px;
}
.site .topten .topten-item {
  padding: 3px 0;
}
.topten .topten-item .name {
  color: #58595B;
  font-size: 17px;
  width: 30%;
}
.topten-hotel.topten .topten-item .name {
  width: 35%;
  max-height: 25px;
  overflow: hidden;
}
.topten .topten-item .time {
  font-size: 10px;
  width: 21%;
  margin-right: 5%;
  overflow: hidden;
}
#hotelhome .topten .topten-item .time {
  width: 33%;
  line-height: 13px;
  margin-right: 2%;
  overflow: hidden;
  max-height: 26px;
}
.topten-hotel.topten .topten-item .time {
  width: 25%;
  overflow: hidden;
  max-height: 30px;
}
.front .topten .topten-item .time {
  height: 30px;
}
.topten .topten-item .cx {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  width: 7%;
  line-height: 28px;
  margin-right: 7%;
  line-height: 15px;
}
.topten .topten-item .price {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #009444;
  font-weight: bold;
  width: 30%;
  text-align: right;
}
.topten-hotel.topten .topten-item .price {
  width: 35%;
}
.topten .topten-info .top10item-5,
.topten .topten-info .top10item-6,
.topten .topten-info .top10item-7,
.topten .topten-info .top10item-8,
.topten .topten-info .top10item-9,
.topten .topten-info .top10item-10,
.topten .topten-info .top10item-11 {
  display: none;
}
.topten .topten-info.moreitems .top10item-5,
.topten .topten-info.moreitems .top10item-6,
.topten .topten-info.moreitems .top10item-7,
.topten .topten-info.moreitems .top10item-8,
.topten .topten-info.moreitems .top10item-9,
.topten .topten-info.moreitems .top10item-10,
.topten .topten-info.moreitems .top10item-11 {
  display: block;
}
.topten .viewmore a {
  color: #39B54A;
  display: inline-block;
  margin-top: 10px;
}
.topten .viewmore a:after {
  content: "\f0da\f0da";
  color: #39B54A;
  display: inline-block;
  font-family: FontAwesome;
  margin-left: 5px;
}
.viewmore a {
  color: #39B54A;
  display: inline-block;
  margin-top: 10px;
}
.viewmore a:after {
  content: "\f0da\f0da";
  color: #39B54A;
  display: inline-block;
  font-family: FontAwesome;
  margin-left: 5px;
}
.middletext {
  background: #d1d3d4;
  padding: 25px 0 35px 0;
  margin: 35px auto 50px;
}
.middletext .text {
  font-size: 22px;
  font-weight: bold;
  color: #414042;
}
.middletext .buttonst a {
  border-radius: 10px;
  border: 1px solid #414042;
  color: #414042;
  margin-top: 15px;
}
.middletext .buttonst a:hover {
  color: #39B54A;
  border-color: #39B54A;
}
.middletext .carousel-indicators {
  bottom: -40px;
}
.middletext .carousel-indicators li {
  background: #fff;
  margin: auto 1px;
}
.middletext .carousel-indicators .active {
  background-color: #4db848;
  border-color: #4db848;
  width: 10px;
  height: 10px;
  margin: auto 1px;
}
.discount-item {
  box-shadow: 1px 2px 3px 2px #d1d3d4;
  margin-bottom: 33px;
}
.discount-item-image {
  background: none;
  min-height: 135px;
  position: relative;
}
.discount-item-info {
  padding: 6px;
}
.discount-item-info h5,
.discount-item-info h6 {
  margin: 5px auto;
}
.discount-item-info h5 {
  font-size: 16px;
  height: 18px;
  overflow: hidden;
  margin-bottom:12px;
}
.discount-item-info .price {
  margin-top: -25px;
}
.discount-item-info .price a {
  color: #8DC63F;
  font-size: 17px;
}
.discount-item-info .price a:after {
  content: "\f105";
  display: inline-block;
  font-family: FontAwesome;
  margin-left: 5px;
}
.discount .row h3 {
  margin-bottom: 4px;
}
.discount .enmasse_deal {
	border-bottom:1px solid #d1d3d4;
	margin-bottom:30px;
}
#stravel-slideshow {
  margin-bottom: 20px;
}
#stravel-slideshow.tour {margin-top: -18px;}
#stravel-slideshow .item {
  text-align: center;
  background-color: #d3d3d3;
}
#stravel-slideshow .item img {
  max-height: 400px;
  width: 1600px;
  height: 400px;
  max-width: 1600px;
  margin: auto;
}
#stravel-slideshow .item .carousel-caption {
  font-size: 22px;
  text-shadow: 0 1px 2px rgba(77,184,104,0.6);
  display: none;
}
#stravel-slideshow .item .carousel-caption a {
  color: #50b848;
}
#stravel-slideshow .item.hover .carousel-caption {
  display: block;
}
#stravel-slideshow .carousel-indicators {
  bottom: 0px;
}
#stravel-slideshow .carousel-indicators li {
  background: #fff;
  margin: auto 10px;
}
#stravel-slideshow .carousel-indicators .active {
  background-color: #4db848;
  border-color: #4db848;
  width: 10px;
  height: 10px;
  margin: auto 10px;
}
.quataimg {
  margin-top: 25px;
  text-align: center;
}
.quataimg img {
  display: inline-block;
}
.hasbackground {
  background: #4DB848;
  color: #fff;
}
.left-pane {
  background: #E7E8E9;
  overflow: hidden;
  padding-bottom: 20px;
  box-shadow: -4px 0 4px 0 #b8b8b8;
}
.left-pane .selectroute .gradientgray {
  display: block;
  border-radius: 0;
  background: -webkit-linear-gradient(#FBFBFD,#CECFD1);
  background: -o-linear-gradient(#FBFBFD,#CECFD1);
  background: -moz-linear-gradient(#FBFBFD,#CECFD1);
  background: linear-gradient(#FBFBFD,#CECFD1);
}
.left-pane .selectroute .gradientgray .fakeselect {
  background: url('../images/triangle2.png') no-repeat right center;
  padding-top: 1px;
  padding-bottom: 1px;
  height: auto;
  border-radius: 0;
}
.left-pane .selectroute.starfilter .route-item {
  height: 20px;
}
.left-pane .panetitle {
  color: #fff;
  background: #4DB848;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.left-pane .panetitle h3 {
  font-size: 21px;
  margin: 4px auto;
}
.left-pane .panetitle:after {
  width: 35px;
  height: 25px;
  background: url('../images/hometitleafter.gif') no-repeat left top;
  margin-left: -16px;
  bottom: -25px;
  content: "";
  position: absolute;
  left: 50%;
}
.left-pane .search .tab-content .tab-pane .search_button {
  padding: 0 15px;
  background: none;
}
.left-pane .search .tab-content .tab-pane .form-group label,
.left-pane .search .tab-content .tab-pane .form-group span,
.left-pane .search .tab-content .tab-pane .form-group input {
  color: #414042;
}
.left-pane .searchform {
  padding: 5px 18px;
}
.left-pane .searchform .tabbtn {
  margin: 20px auto 10px;
}
.left-pane .searchform .tabbtn label {
  font-size: 12px;
  padding-left: 15px;
  color: #808285;
}
.left-pane .searchform .tabbtn label input {
  margin-left: -15px;
}
.left-pane .searchform .tabbtn label img {
  height: 12px;
}
.left-pane .searchform .tabbtn label img.airticketIcon {
  margin-right: 2px;
}
.left-pane .searchform .tabbtn label img.cruiseIcon {
  width: 20px;
  height: auto;
}
.left-pane .searchform .tabbtn label img.packageIcon {
  margin-right: 3px;
  margin-left: 3px;
}
.left-pane .topten {
  padding: 5px 18px;
  margin-top: 5px;
  border-top: 1px solid #d1d3d4;
}
.left-pane .topten .topten-item .name,
.left-pane .topten .topten-item .price {
  font-size: 12px;
}
.left-pane .topten .topten-item .time {
  font-size: 10px;
  width: 30%;
  margin-right: 5%;
  max-height: 28px;
}
.left-pane .topten .topten-item .price {
  width: 35%;
}
#packagehome .left-pane .topten .topten-item .name {
  width: 40%;
}
#packagehome .left-pane .topten .topten-item .price {
  width: 25%;
}
.left-pane .filterleft {
  margin-top: 30px;
}
#cruisehome .left-pane .filterleft {
  margin-top: 26px;
}
.left-pane .filterleft .selectroute {
  padding: 20px 15px 20px 15px;
  border-top: 1px solid #d1d3d4;
}
.left-pane .filterleft .selectroute h4 {
  font-size: 16px;
}
.left-pane .filterleft .selectroute .route-item label {
  font-weight: 400;
  padding-left: 8px;
}
.left-pane .filterleft .selectroute .route-item i {
  color: #4db848;
  font-size: 18px;
  margin: auto 5px;
}
.left-pane .filterleft .selectroute.cruisedestinationselect {
  padding-top: 26px;
}
.left-pane .filterleft .selectroute.hotelnamefilter .form-control {
  height: auto;
  font-size: 12px;
  padding: 2px 5px;
}
.left-pane .filterleft .selectroute.hotelnamefilter .form-control:focus {
  border-color: #fbb040;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(251,176,64,0.6);
}
#hotelresult .left-pane .filterleft {
  margin-top: 20px;
}
#hotelresult .left-pane .filterleft .selectroute h4 {
  font-size: 11px;
  margin-top: 15px;
}
.left-pane .dragprice p {
  margin-bottom: auto;
}
.left-pane .dropdown-menu > li > a {
  padding: 0 10px;
}
.left-pane .areaselection ul.dropdown-menu {
  max-height: 267px;
  overflow-y: scroll;
}
.right-pane {
  padding-top: 20px;
  border-top: 1px solid #d1d3d4;
  background: #fff;
  box-shadow: 4px 0 4px 0 #b8b8b8;
}
.right-pane .pagination {
  font-size: 14px;
}
.right-pane .pagination li a {
  color: #414042;
  padding: 6px 10px;
}
.right-pane .pagination li.pagsseitem {
  display: none;
}
.right-pane .pagination li.pagsseitem.showed {
  display: inline;
}
.right-pane .pagination li.pagsseitem.disabled a {
  color: #39B54A;
  font-weight: bold;
}
.right-pane .basicsort {
  padding-left: 15px;
  padding-right: 15px;
}
.right-pane .basicsort .col-md-3 {
  margin-bottom: 5px;
}
.right-pane .basicsort p {
  margin-bottom: auto;
  line-height: 27px;
}
.right-pane .filter {
  padding-left: 15px;
  padding-right: 15px;
}
.right-pane .filter p {
  color: #39B54A;
  margin-bottom: auto;
}
.right-pane .filter .linklist {
  margin-bottom: 10px;
}
.right-pane .filter a {
  padding: 0 3px;
  display: inline-block;
}
.right-pane .airlineinfo {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  color: #808285;
  border-left: 1px solid #808285;
  padding-left: 5px;
  font-size: 13px;
  height: 13px;
  line-height: 13px;
}
.right-pane .airlineinfo.extended {
  margin-left:-10px;  
}
.right-pane .airlineinfo .infoicon {
  background: url(../images/btn_more_info_off.png) no-repeat left top;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100% auto;
  margin-right: 5px;
  margin-left: 3px;
  position: relative;
  top: -1px;
}
.right-pane .airlineinfo .infoicon:hover {
  background-image: url(../images/btn_more_info.png);
}
.right-pane .airlineinfo .tooltip {
  background: none;
  border: none;
  width: auto;
  min-width: 70px;
}
.right-pane .itemlist {
  overflow: hidden;
}
.right-pane .itemlist .hotelresultheader {
  background: #4db848;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
}
.right-pane .itemlist .hotelresultheader .htinfo {
  display: block;
  margin-right: -10px;
}
.right-pane .itemlist .hotelresult-item {
  border-left: 1px solid #d1d3d4;
  border-right: 1px solid #d1d3d4;
  border-bottom: 1px solid #d1d3d4;
}
.right-pane .itemlist .hotelresult-item .envelophotel {
  background: url('../images/hotel_enquiry_icon.png') no-repeat left top;
  display: block;
  width: 38px;
  height: 26px;
  background-size: 100% 100%;
  margin: 8px 2px 10px -8px;
  float: right;
}
.right-pane .itemlist .hotelresult-item .zoomhotel {
  background: url('../images/zoom_hotel.png') no-repeat left top;
  display: block;
  width: 26px;
  height: 26px;
  margin: 10px auto;
  cursor: pointer;
}
.right-pane .itemlist .hotelresult-item .hotelresult-txt {
  display: inline-block;
  margin: 10px 0;
}
.right-pane .itemlist .hotelresultheader,
.right-pane .itemlist .hotelresult-item {
  padding-left: 15px;
  padding-right: 15px;
}
.right-pane .itemlist .hotelresultheader .col-xs-1,
.right-pane .itemlist .hotelresultheader .col-xs-2,
.right-pane .itemlist .hotelresultheader .col-xs-3,
.right-pane .itemlist .hotelresultheader .col-xs-4,
.right-pane .itemlist .hotelresultheader .col-xs-5,
.right-pane .itemlist .hotelresultheader .col-xs-6,
.right-pane .itemlist .hotelresultheader .col-xs-7,
.right-pane .itemlist .hotelresultheader .col-xs-8,
.right-pane .itemlist .hotelresultheader .col-xs-9,
.right-pane .itemlist .hotelresultheader .col-xs-10,
.right-pane .itemlist .hotelresultheader .col-xs-11,
.right-pane .itemlist .hotelresultheader .col-xs-12,
.right-pane .itemlist .hotelresult-item .col-xs-1,
.right-pane .itemlist .hotelresult-item .col-xs-2,
.right-pane .itemlist .hotelresult-item .col-xs-3,
.right-pane .itemlist .hotelresult-item .col-xs-4,
.right-pane .itemlist .hotelresult-item .col-xs-5,
.right-pane .itemlist .hotelresult-item .col-xs-6,
.right-pane .itemlist .hotelresult-item .col-xs-7,
.right-pane .itemlist .hotelresult-item .col-xs-8,
.right-pane .itemlist .hotelresult-item .col-xs-9,
.right-pane .itemlist .hotelresult-item .col-xs-10,
.right-pane .itemlist .hotelresult-item .col-xs-11,
.right-pane .itemlist .hotelresult-item .col-xs-12 {
  padding-left: 2px;
  padding-right: 2px;
}
.right-pane .itemlist .hotelresultheader .col-md-4,
.right-pane .itemlist .hotelresult-item .col-md-4 {
  padding-top: 0;
  padding-bottom: 0;
}
.productpage .right-pane .itemlist .col-md-11.col-md-offset-1 > .row,
.right-pane .itemlist .col-md-11.col-md-offset-1 > .row.noborder,
.right-pane .itemlist .col-md-11.col-md-offset-1 > .row.margintop,
.productpage .right-pane .itemlist .col-md-11.col-md-offset-1 .page-sep > .row,
.right-pane .itemlist .col-md-11.col-md-offset-1 .page-sep > .row.noborder,
.right-pane .itemlist .col-md-11.col-md-offset-1 .page-sep > .row.margintop {
  border-bottom: none;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder {
  margin-top: 33px;
  margin-bottom: 33px;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder > .row,
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder .page-sep > .row {
  border-bottom: none;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder > .row > .col-md-6,
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder .page-sep > .row > .col-md-6 {
  font-size: 12px;
  color: #414042;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder > .row > .col-md-6 a,
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder .page-sep > .row > .col-md-6 a {
  color: #414042;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder > .row > .col-md-6 a:hover,
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder .page-sep > .row > .col-md-6 a:hover {
  color: #39B54A;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder > .row > .col-md-6 .row,
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder .page-sep > .row > .col-md-6 .row {
  background: #f1f2f2;
  padding: 5px;
}
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder > .row > .col-md-6 .row.headtbl,
.right-pane .itemlist .col-md-11.col-md-offset-1.noborder .page-sep > .row > .col-md-6 .row.headtbl {
  background: #8DC63F;
  color: #fff;
  padding: 8px 5px;
  margin-bottom: 5px;
}
.right-pane .itemlist .col-md-4 {
  padding-bottom: 33px;
  padding-top: 33px;
}
.productpage .right-pane .itemlist {
  overflow: hidden;
}
.productpage .right-pane .itemlist .col-md-4 {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.productpage .right-pane .itemlist .packageFlyerInfo p {
  margin-bottom: auto;
  overflow:hidden;
}
.productpage .right-pane .itemlist .packageFlyerInfo .infoLabel {
  min-width: 70px;
  color: #39B54A;
  display: inline-block;
}
.productpage .right-pane .itemlist .packageFlyerInfo .packageInfoLeft {
  border-top: 1px solid #d1d3d4;
}
.productpage .right-pane .itemlist .packageFlyerInfo .packageInfoLeft,
.productpage .right-pane .itemlist .packageFlyerInfo .packageInfoRight {
  padding: 10px 15px;
  border-bottom: 1px solid #d1d3d4;
}
.productpage .right-pane .itemlist .packageFlyerImage {
  float: left;
  width: 100%;
  border-top: 2px solid #f3f3f5;
}
.productpage .right-pane .itemlist .packageFlyerImage div p {
  padding-left: 15px;
  padding-right: 15px;
}
.productpage .right-pane .itemlist .packageFlyerImage .infoLabel {
  min-width: 70px;
  color: #39B54A;
  display: inline-block;
}
.productpage .right-pane .itemlist .packageFlyerImage .greenclr {
  color: #39B54A;
  margin-bottom: auto;
}
.productpage .right-pane .itemlist .packageFlyerImage .packageFlyerImageItem {
  margin-bottom: 20px;
}
.productpage .right-pane .itemlist .packageFlyerImage .shareProduct {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  text-align: left;
}
.productpage .right-pane .itemlist .packageFlyerImage .shareProduct .fb-like {
  float: left;
  width: 80px !important;
}
.productpage .right-pane .itemlist .packageFlyerImage .shareProduct a {
  display: inline-block;
  margin: auto 2px;
}
.productpage .right-pane .itemlist .packageFlyerImage .shareProduct a img {
  margin-top: -4px;
}
.productpage .right-pane .itemlist .packageRelated {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 2px solid #f3f3f5;
  margin-top: 33px;
  overflow: hidden;
}
.productpage .right-pane .itemlist .packageRelated h5 {
  color: #88C53B;
  margin-top: 33px;
}
.productpage .right-pane .itemlist .packageRelated .col-xs-1,
.productpage .right-pane .itemlist .packageRelated .col-xs-2,
.productpage .right-pane .itemlist .packageRelated .col-xs-3,
.productpage .right-pane .itemlist .packageRelated .col-xs-4,
.productpage .right-pane .itemlist .packageRelated .col-xs-5,
.productpage .right-pane .itemlist .packageRelated .col-xs-6,
.productpage .right-pane .itemlist .packageRelated .col-xs-7,
.productpage .right-pane .itemlist .packageRelated .col-xs-8,
.productpage .right-pane .itemlist .packageRelated .col-xs-9,
.productpage .right-pane .itemlist .packageRelated .col-xs-10,
.productpage .right-pane .itemlist .packageRelated .col-xs-11,
.productpage .right-pane .itemlist .packageRelated .col-xs-12 {
  padding-left: 1px;
  padding-right: 1px;
}
.productpage .right-pane .itemlist .packageRelated .relatedheader {
  background: #88C53B;
  overflow: hidden;
  padding-left: 3px;
  padding-right: 3px;
  color: #fff;
  margin-bottom: 10px;
}
.productpage .right-pane .itemlist .packageRelated .relateditem {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px;
}
.productpage .right-pane .itemlist .packageRelated .relateditem .twolineonly {
  max-height: 44px;
  overflow: hidden;
}
.productpage .right-pane .itemlist .packageRelated.otherPackage {
  margin-bottom: 33px;
  float: left;
  width: 100%;
}
.right-pane .product-item {
  background: #f2f2f2;
  position: relative;
}
.right-pane .product-item .product-image {
  position: relative;
}
.right-pane .product-item .product-image > img,
.right-pane .product-item .product-image > a > img {
  width: 100%;
}
.right-pane .product-item .product-image .package-feature {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../images/whitetrans.png') repeat left top;
  z-index: 2;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
}
.right-pane .product-item .product-image.hover .package-feature {
  display: block;
}
.right-pane .product-item .product-image .caption {
  background: url('../images/whitetrans.png') repeat left top;
  bottom: 0;
  padding: 3px 5px;
  position: absolute;
  text-align: left;
  width: 100%;
}
.right-pane .product-item .product-image .caption h6 {
  margin: 6px auto 2px;
}
.right-pane .product-item .product-image .caption h6 + h6,
#cruisehome .right-pane .product-item .product-image .caption h6 {
  margin-top: auto;
}
.right-pane .product-item .product-image .caption h6 img {
  display: inline-block;
  margin-right: 5px;
  margin-top: -6px;
  height: 16px;
}
.right-pane .product-item .product-image .caption span img {
  display: inline-block;
  width: 18px;
  margin-top: 5px;
  margin-right: 3px;
}
.right-pane .product-item .product-info {
  padding: 5px;
  overflow: hidden;
}
.right-pane .product-item .product-info.package-info {
  overflow: visible;
}
.right-pane .product-item .product-info h4 {
  margin-top: auto;
  margin-bottom: 5px;
}
.right-pane .product-item .product-info h6 {
  margin: 3px auto;
}
#cruisehome .right-pane .product-item .product-info h6,
#airticket .right-pane .product-item .product-info h6 {
  font-size: 10px;
  min-height: 22px;
  max-height: 22px;
  overflow: hidden;
}
.right-pane .product-item .product-info .hotel-price,
.right-pane .product-item .product-info .cruise-price,
.right-pane .product-item .product-info .airticket-price {
  width: 77%;
  float: left;
  font-weight: 400;
  font-size: 13px;
  color: #4db848;
}
.right-pane .product-item .product-info .hotel-link,
.right-pane .product-item .product-info .cruise-link,
.right-pane .product-item .product-info .airticket-link {
  width: 20%;
  margin-left: 2%;
  float: left;
}
.right-pane .product-item .product-info .hotel-link a,
.right-pane .product-item .product-info .cruise-link a,
.right-pane .product-item .product-info .airticket-link a {
  background: url("../images/green_icon_enquiry.png") no-repeat left top;
  width: 39px;
  height: 25px;
  background-size: 100% 100%;
  display: inline-block;
}
.right-pane .product-item .product-info .package-price h4 {
  margin-top: 6px;
  font-size: 13px;
  color: #4db848;
}
.right-pane .product-item .product-info .package-link .imgbtnbg {
  background: url("../images/green_letter_download_icon.png") no-repeat scroll right center;
  float: right;
  width: 50.3px;
  height: 26px;
  background-size: auto 100%;
}
.right-pane .product-item .product-info .package-link .imgbtnbg a {
  display: inline-block;
  width: 23px;
  height: 26px;
}
.right-pane .product-item .product-info .cruise-bottom-info {
  margin-top: 3px;
}
.right-pane .headrow,
.right-pane .itemrow {
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  max-height: 20px;
  overflow: hidden;
}
.right-pane .headrow {
  color: #fff;
  background: #39B54A;
  padding: 2px 0;
  margin-bottom: 6px;
}
.right-pane .colum-1 {
  width: 19%;
  float: left;
  padding: 2px;
}
.right-pane .colum-2 {
  width: 43%;
  float: left;
  padding: 2px;
}
.right-pane .colum-3 {
  width: 18%;
  float: left;
  padding: 2px;
}
.right-pane .colum-4 {
  width: 10%;
  float: left;
  padding: 2px;
}
.right-pane .colum-4 img {
  width: 14px;
  cursor: pointer;
}
.right-pane .colum-5 {
  width: 10%;
  float: left;
  padding: 2px;
}
.right-pane .colum-5 img {
  width: 14px;
  cursor: pointer;
}
.login .control-group {
  overflow: hidden;
  margin: 15px auto;
}
.login .control-group .control-label {
  float: left;
  width: 20%;
  margin-right: 5%;
}
.login .control-group .controls {
  float: left;
  width: 75%;
}
.login .control-group .controls input[type="text"],
.login .control-group .controls input[type="password"] {
  width: 100%;
  border: 1px solid #d1d3d4;
  padding: 0 10px;
}
.urlmanagment {
  background: #fefefe;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
}
.urlmanagment .stravelnav .pagination {
  margin: auto;
}
.urlmanagment .filterurl {
  padding: 10px;
  min-height: 40px;
}
.urlmanagment .tooltip {
  background: none;
  border: none;
  width: auto;
  min-width: 70px;
}
.urlmanagment .vcenter {
  vertical-align: middle;
}
.urlmanagmentedit {
  background: #fefefe;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
  padding: 15px;
}
.extendright .moduletable h5,
.extendright .moduletable h6 {
  margin-bottom: 3px;
}
.modal-content {
  border-radius: 0;
}
.modal-content ::-webkit-input-placeholder {
  color: #b6b6b6;
}
.modal-content :-moz-placeholder {
  color: #b6b6b6;
  opacity: 1;
}
.modal-content ::-moz-placeholder {
  color: #b6b6b6;
  opacity: 1;
}
.modal-content :-ms-input-placeholder {
  color: #b6b6b6;
}
#enquiryModal .modal-content,
#enquiryGeneralModal .modal-content,
#enquiryNewsletterModal .modal-content,
#staffModal .modal-content {
  background: #8DC73F;
  color: #fff;
}
#enquiryModal .modal-content .modal-header,
#enquiryGeneralModal .modal-content .modal-header,
#enquiryNewsletterModal .modal-content .modal-header,
#staffModal .modal-content .modal-header {
  border-bottom: none;
  padding: 15px 30px;
}
#enquiryModal .modal-content .modal-header .close,
#enquiryGeneralModal .modal-content .modal-header .close,
#enquiryNewsletterModal .modal-content .modal-header .close,
#staffModal .modal-content .modal-header .close {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  opacity: 1;
}
#enquiryModal .modal-content .modal-body,
#enquiryGeneralModal .modal-content .modal-body,
#enquiryNewsletterModal .modal-content .modal-body,
#staffModal .modal-content .modal-body {
  padding: 15px 40px;
}
#enquiryModal .modal-content .modal-body .form-control,
#enquiryGeneralModal .modal-content .modal-body .form-control,
#enquiryNewsletterModal .modal-content .modal-body .form-control,
#staffModal .modal-content .modal-body .form-control {
  border-radius: 0;
}
#enquiryModal .modal-content .modal-body textarea,
#enquiryGeneralModal .modal-content .modal-body textarea,
#enquiryNewsletterModal .modal-content .modal-body textarea,
#staffModal .modal-content .modal-body textarea {
  min-height: 120px;
}
#enquiryModal .modal-content .modal-body .productEnqueryInfo,
#enquiryGeneralModal .modal-content .modal-body .productEnqueryInfo,
#enquiryNewsletterModal .modal-content .modal-body .productEnqueryInfo,
#staffModal .modal-content .modal-body .productEnqueryInfo {
  border: 1px solid #fff;
  padding: 10px;
  min-height: 100px;
  margin-bottom: 20px;
}
#enquiryModal .modal-content .modal-body .productEnqueryInfo p,
#enquiryGeneralModal .modal-content .modal-body .productEnqueryInfo p,
#enquiryNewsletterModal .modal-content .modal-body .productEnqueryInfo p,
#staffModal .modal-content .modal-body .productEnqueryInfo p {
  margin-bottom: 5px;
}
#enquiryModal .modal-content .modal-body .form-button button,
#enquiryGeneralModal .modal-content .modal-body .form-button button,
#enquiryNewsletterModal .modal-content .modal-body .form-button button,
#staffModal .modal-content .modal-body .form-button button {
  padding: 5px 10px;
  color: #fff;
  background: #949599;
  border: none;
}
#enquiryModal .modal-content .modal-body .form-button button.submitbtn,
#enquiryGeneralModal .modal-content .modal-body .form-button button.submitbtn,
#enquiryNewsletterModal .modal-content .modal-body .form-button button.submitbtn,
#staffModal .modal-content .modal-body .form-button button.submitbtn {
  background: url(../images/whitearrow2.png) no-repeat 85% center #949599;
  padding-right: 35px;
}
#enquiryModal .modal-content .modal-body .modalthankyou,
#enquiryGeneralModal .modal-content .modal-body .modalthankyou,
#enquiryNewsletterModal .modal-content .modal-body .modalthankyou,
#staffModal .modal-content .modal-body .modalthankyou {
  display: none;
  font-size: 30px;
}
#enquiryModal .modal-content .modal-body .modalthankyou .close2continuebtn,
#enquiryGeneralModal .modal-content .modal-body .modalthankyou .close2continuebtn,
#enquiryNewsletterModal .modal-content .modal-body .modalthankyou .close2continuebtn,
#staffModal .modal-content .modal-body .modalthankyou .close2continuebtn {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
#enquiryModal .modal-content .modal-body .modalthankyou .close2continuebtn:after,
#enquiryGeneralModal .modal-content .modal-body .modalthankyou .close2continuebtn:after,
#enquiryNewsletterModal .modal-content .modal-body .modalthankyou .close2continuebtn:after,
#staffModal .modal-content .modal-body .modalthankyou .close2continuebtn:after {
  content: "\f0da\f0da";
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  margin-left: 5px;
}
#enquiryModal .modal-content .modal-body .modalthankyou .close2continuebtn:hover,
#enquiryGeneralModal .modal-content .modal-body .modalthankyou .close2continuebtn:hover,
#enquiryNewsletterModal .modal-content .modal-body .modalthankyou .close2continuebtn:hover,
#staffModal .modal-content .modal-body .modalthankyou .close2continuebtn:hover {
  color: #fefefe;
}
#enquiryGeneralModal .modal-dialog,
#enquiryNewsletterModal .modal-dialog {
  margin-top: 130px;
}
#enquiryNewsletterModal .modal-header,
#staffModal .modal-header {
  margin-top: 30px;
}
#enquiryNewsletterModal #enquiryNewsletterModalLabel,
#enquiryNewsletterModal #staffModalLabel,
#staffModal #enquiryNewsletterModalLabel,
#staffModal #staffModalLabel {
  background: url(../images/envelopnewsletter.png) no-repeat left center;
  padding-left: 40px;
  margin-left: 11px;
  background-size: 30px auto;
  font-size: 26px;
}
#enquiryNewsletterModal .newsleter.submitbtn,
#staffModal .newsleter.submitbtn {
  background: #fefefe !important;
  padding: 6px 10px !important;
  color: #555 !important;
  font-size: 20px;
  margin-bottom: 18px;
}
#enquiryNewsletterModal .form-group,
#staffModal .form-group {
  margin-bottom: 25px;
}
#enquiryNewsletterModal .form-group input,
#staffModal .form-group input {
  height: 38px;
}
#enquiryNewsletterModal .form-group .dropdown-menu,
#staffModal .form-group .dropdown-menu {
  max-height: 320px;
}
#enquiryNewsletterModal .form-group .dropdown-menu.selectdate,
#staffModal .form-group .dropdown-menu.selectdate {
  overflow-y: scroll;
}
#enquiryNewsletterModal .form-group .dropdown-menu.dropup-branch,
#staffModal .form-group .dropdown-menu.dropup-branch {
  top: -324px;
  box-shadow: none;
}
#enquiryNewsletterModal .form-group .dropdown-menu.dropup-source,
#staffModal .form-group .dropdown-menu.dropup-source {
  box-shadow: none;
  top: -224px;
}
#enquiryNewsletterModal .fakeselectgray,
#staffModal .fakeselectgray {
  background: url(../images/GreyTriangle.png) no-repeat 95% center #fff;
  display: block;
  color: #b6b6b6;
  padding-left: 5px;
  line-height: 38px;
  height: 38px;
  background-size: auto 12px;
}
#staffModal .staffExtend {
  border-top: 1px solid #fff;
  padding-top: 15px;
}
#staffModal .staffExtend .deptitle {
  padding: 8px 0;
  display: block;
}
#staffModal .form-group {
  margin-bottom: 15px;
}
#myLargeAirTicketModal {
  color: #fff;
}
#myLargeAirTicketModal .modal-content {
  background: #BCBEC0;
}
#loadingModal .modal-content {
  background: none;
  box-shadow: none;
  border: none;
  margin-top: 30%;
}
#loadingModal .modal-content .loadingimg {
  background: url(../images/BigCircleGreen.gif) no-repeat center center;
  width: 188px;
  height: 188px;
  margin: 0 auto;
}
#myHotelSearchModal .modal-content {
  background: #4CB848;
  color: #fff;
}
#myHotelSearchModal .modal-header {
  border-bottom: none;
}
#myHotelSearchModal .modal-body .submit button {
  background: url(../images/whitearrow2.png) no-repeat 85% center #fff;
  border: none;
  color: #414042;
  padding-right: 35px;
}
#myLargeHotelResultModal .closebutton {
  font-size: 24px;
  color: #777;
  padding: 0 4px;
  float: right;
  cursor: pointer;
}
#myLargeHotelResultModal .hotelinfo img {
  margin: 5px auto;
}
#myLargeAirTicketModal .modal-body {
  padding-left: 55px;
}
#myLargeAirTicketModal .modal-body .closebutton {
  font-size: 18px;
  color: #fefefe;
  padding: 0 5px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 15px;
}
#myLargeAirTicketModal .modal-body .labelremark {
  margin-left: -40px;
}
#myLargeAirTicketModal .modal-body .labelremark .white {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}
#myLargeAirTicketModal .modal-body .labelremark .green {
  color: #4db848;
}
.modal-contactus-size.modal-dialog {
  margin-top: 110px;
}
.modal-contactus-size .hasshortline {
  border-bottom: 1px solid #d1d3d4;
  padding-bottom: 12px;
}
.modal-contactus-size .col-md-8 div {
  padding: 0;
}
.modal-contactus-size .closebutton2 {
  font-size: 20px;
  float: right;
  cursor: pointer;
  line-height: 0;
}
.margintop {
  margin-top: 33px;
  padding-bottom: 33px;
}
.maxwidth,
.tempimg {
  width: 100%;
}
.subcribeform .input-group input {
  border: medium none;
  border-radius: 0;
  font-weight: 400;
  height: 22px;
  padding: 3px 10px;
}
.subcribeform .input-group button {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  border: medium none;
  border-radius: 0;
  padding: 0;
}
.firefox .subcribeform .input-group button {
  margin-top: -1px;
}
.width-40 {
  float: left;
  width: 100%;
}
.width-20 {
  float: left;
  width: 100%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

#msrcontainer .mansonryitem {margin-bottom: 30px;}
#msrcontainer .mansonryitem .touritem-wrapper {background-color: #fff;overflow: hidden;box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5);}
#msrcontainer .mansonryitem .touritem-wrapper .caption {padding-left: 10px;padding-right: 10px;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 {overflow: hidden;padding:5px 0;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col1 {float: left;width: 70%;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col1 span {font-size: 13px;display: inline-block;margin-top: 4px;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .abstract {padding:5px 0;max-height: 68px;overflow: hidden;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2 {float: left;width: 33%;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2.colref {width: 67%;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2.colprice {width: 39%;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2 span {line-height: 26px;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2 span.refcode {font-size:12px;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2 span.price {color:#39B54A;font-size: 15px;display:inline-block;margin-top: -1px;margin-left: 8px;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2.text-center span {font-size: 16px;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2.price {font-size: 18px;} 
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1.borderbottom {border-bottom: 1px solid #d1d3d4;}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2 .imgbtn {
    background: url("../images/green_letter_download_icon.png") no-repeat scroll right center / auto 100% transparent;
    float: right;
    width: 50.3px;
    height: 26px;
}
#msrcontainer .mansonryitem .touritem-wrapper .caption .line1 .col2 .imgbtn a {
    width: 25px;
    height: 26px;
    float: left;
}
#msrcontainer .mansonryitem .touritem-wrapper .tourimg {
    position:relative;
    overflow: hidden;
}
#msrcontainer .mansonryitem .touritem-wrapper .tourimg .package-feature {
    position: absolute;
    top:100%;
    background-color: rgba(255,255,255,0.6);
    color: #222;
    padding:5px;
    cursor: pointer;
    width: 100%;
    height:100%;
    z-index: 2;
    left: 0;
    overflow: hidden;
    transition: all 0.4s;
    text-align: center;
}
#msrcontainer .mansonryitem .touritem-wrapper.hover .tourimg .package-feature {
    top:0;
}
#tourhome .linklist {margin-bottom: 15px;}
#tourhome .linklist .active {color:#39B54A;display: inline-block;}
#tourhome .linklist a {margin: auto 10px;}
#tourhome .linklist span.active {margin-right:10px;}
#tourhome .loadmore {opacity: 0 !important;}
/*#tourhome .totalitem {background-color: #eee;padding:5px;}*/
#tourhome .totalitem span {color:#39B54A;padding:0 3px;}
@media (min-width: 768px) {
  .logo {
    text-align: center;
  }
  .mainnav li {
    float: left;
    background: none;
    border-bottom: none;
  }
  .mainnav a:after {
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .width-40 {
    float: left;
    width: 40%;
  }
  .width-20 {
    float: left;
    width: 20%;
  }
  .moduletable.mobilephone {
    margin-top: -68px;
    margin-left: 63%;
  }
  #generalpage-contactus .biglastcontactitem {
    padding-left: 4px !important;
  }
  .col-md-4 .topten {
    margin-top: 50px;
  }
  .mainnav .mainnav {
    margin-left: -15px;
  }
  .mainnav .mainnav li .packagesubmenu {
    z-index: 110;
    width: 740px;
    position: absolute;
    top: 28px;
    float: left;
    display: none;
  }
  .mainnav .mainnav li .packagesubmenu .pksubmenu-arrow {
    float: left;
    width: 100%;
    min-height: 15px;
    background: url(../images/pkarrow.png) no-repeat 17px bottom;
    background-size: 28px auto;
  }
  .mainnav .mainnav li .packagesubmenu .pksubmenu-wrapper {
    float: left;
    width: 100%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);
  }
  .mainnav .mainnav li .packagesubmenu .pksection {
    float: left;
    width: 155px;
    margin-right: 30px;
    border-right: 1px solid #d1d3d4;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .pkmorebtn {
    float: right;
    font-size: 12px;
    margin-right: 31px;
    margin-top: 6px;
    color: #39B54A;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .pkmorebtn:after {
    content: "\f0da\f0da";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 15px;
    color: #39B54A;
    position: relative;
  }
  .mainnav .mainnav li .packagesubmenu .pksection.last {
    border-right: none;
    margin-right: auto;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .subtitle {
    float: left;
    width: 100%;
    color: #39B54A;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .ulpksub {
    list-style: none;
    float: left;
    width: 75px;
    margin: auto;
    padding: 0;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .ulpksub li {
    float: left;
    width: 65px;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .ulpksub li a {
    display: block;
    font-size: 14px;
    background: none;
    color: #414042;
  }
  .mainnav .mainnav li .packagesubmenu .pksection .ulpksub li a:hover {
    color: #39B54A;
  }
  .mainnav .mainnav li:hover > a {
    background: none;
    color: #39B54A;
  }
  .headrowhastop {
    margin-top: auto;
  }
  .disclaimer {
    padding-left: 0;
    padding-right: 0;
  }
  .disclaimer .col-md-5.text-right {
    text-align: right !important;
  }
  #hotelresult .disclaimer {
    padding: 33px 0;
  }
  .modal-contactus-size {
    width: 777px;
  }
  .modal-contactus-size .col-md-8 div {
    background-size: 100% auto !important;
    padding-left: 38px;
    padding-top: 8px;
    padding-bottom: 15px;
  }
  .maxwidth {
    max-height: 170px;
    min-height: 170px;
  }
  .enmasse_deal .maxwidth {
	max-height: 194px;
    min-height: 194px;
  }
  .tempimg {
    max-height: 179px;
  }
  .bannerimg {
    height: 252px;
  }
  .search .tab-content .tab-pane#jettour-search {
    padding-top: 40px;
  }
  .search .tab-content .tab-pane#jettour-search .form-group {
    margin-bottom: 17px;
  }
  .search .tab-content .tab-pane .row {
    margin-left: -4px;
    margin-right: -4px;
  }
  .front .search .tab-content .tab-pane .row .col-md-1,
  .front .search .tab-content .tab-pane .row .col-md-2,
  .front .search .tab-content .tab-pane .row .col-md-3,
  .front .search .tab-content .tab-pane .row .col-md-4,
  .front .search .tab-content .tab-pane .row .col-md-5,
  .front .search .tab-content .tab-pane .row .col-md-6,
  .front .search .tab-content .tab-pane .row .col-md-7,
  .front .search .tab-content .tab-pane .row .col-md-8,
  .front .search .tab-content .tab-pane .row .col-md-9,
  .front .search .tab-content .tab-pane .row .col-md-10,
  .front .search .tab-content .tab-pane .row .col-md-11,
  .front .search .tab-content .tab-pane .row .col-md-12 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .front .search .tab-content .tab-pane .row.search_button_row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .front .search .tab-content .tab-pane .row.search_button_row .col-md-12.search_button {
    padding-left: 15px;
    padding-right: 15px;
  }
  .search .tab-content .tab-pane .dropdown-menu {
    min-width: 100%;
  }
  .search .tab-content .tab-pane .hotelcitylist .dropdown-menu,
  .search .tab-content .tab-pane .aircitylist .dropdown-menu {
    min-width: 385px;
  }
  .quataimg img {
    display: block;
  }
  .left-pane {
    margin-right: -30px;
    overflow: visible;
    padding-bottom: 0px;
    float: left;
  }
  .left-pane > div {
    float: left;
    width: 100%;
  }
  .left-pane .searchform .tabbtn .row {
    margin: auto;
  }
  .left-pane .searchform .tabbtn .col-xs-4,
  .left-pane .searchform .tabbtn .col-xs-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .left-pane .searchform .tab-content .tab-pane .form-group label,
  .left-pane .searchform .tab-content .tab-pane .form-group input,
  .left-pane .searchform .tab-content .tab-pane .form-group span {
    font-size: 11px;
  }
  .left-pane .search .tab-content .tab-pane .search_button {
    padding: 0 3px;
  }
  .left-pane .filterleft .selectroute {
    padding-top: 5px;
  }
  .left-pane .filterleft .selectroute .companyselect h4 {
    margin-bottom: 6px;
    margin-top: 33px;
    font-size: 14px;
  }
  .right-pane .itemlist {
    padding-right: 8%;
  }
  .right-pane .itemlist .pagination {
    margin-top: auto;
    margin-bottom: 29px;
  }
  .right-pane .itemlist .hotelresult-item {
    border-bottom: none;
  }
  .right-pane .itemlist .col-md-11.col-md-offset-1 > .row,
  .right-pane .itemlist .col-md-11.col-md-offset-1 .page-sep > .row {
    border-bottom: 1px solid #d1d3d4;
  }
  .right-pane .itemlist .noborder .row .col-md-6 {
    padding-left: 18px;
    padding-right: 18px;
  }
  .right-pane .itemlist .noborder .row .col-md-6 .col-xs-2,
  .right-pane .itemlist .noborder .row .col-md-6 .col-xs-3,
  .right-pane .itemlist .noborder .row .col-md-6 .col-xs-4 {
    padding-left: 3px;
    padding-right: 3px;
  }
  .right-pane .itemlist .noborder .row .col-md-6 .col-xs-1 {
    padding-left: 0px;
    padding-right: 1px;
  }
  .productpage .right-pane .itemlist .packageFlyerInfo .infoValue {
    margin-left: 5px;
  }
  .productpage .right-pane .itemlist .packageFlyerInfo .packageInfoLeft {
    border-top: none;
  }
  .productpage .right-pane .itemlist .packageFlyerInfo .packageInfoLeft span {
    float: left;
  }
  .productpage .right-pane .itemlist .packageFlyerInfo .packageInfoLeft .infoValue {
    width: 160px;
  }
  .productpage .right-pane .itemlist .packageFlyerInfo .packageInfoLeft,
  .productpage .right-pane .itemlist .packageFlyerInfo .packageInfoRight {
    padding: 0 0;
    border-bottom: none;
  }
  .productpage .right-pane .itemlist .packageFlyerImage {
    margin-top: 13px;
    padding-top: 36px;
  }
  .productpage .right-pane .itemlist .packageFlyerImage p {
    overflow: hidden;
  }
  .productpage .right-pane .itemlist .packageFlyerImage .infoLabel {
    float: left;
  }
  .productpage .right-pane .itemlist .packageFlyerImage .infoValue {
    float: left;
    width: 80%;
  }
  .productpage .right-pane .itemlist .packageFlyerImage .shareProduct {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
  }
  .productpage .right-pane .itemlist .packageFlyerImage .shareProduct .fb-like {
    float: none;
  }
  .productpage .right-pane .itemlist .packageFlyerImage div p {
    padding-left: 0;
    padding-right: 0;
  }
  .productpage .right-pane .itemlist .packageFlyerImage,
  .productpage .right-pane .itemlist .packageRelated {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .right-pane .product-item .product-image > img,
  .right-pane .product-item .product-image>a>img {
    width: 190px;
    height: 149px;
  }
  .right-pane .filter .col-md-offset-1 .row .col-md-11 {
    border-bottom: 1px solid #d1d3d4;
    border-top: 1px solid #d1d3d4;
    margin: 22px auto;
    padding: 15px 15px 5px;
    min-height: 72px;
  }
  #tourflyer .right-pane .filter .col-md-offset-1 .row .col-md-11 {
    border-top: none;
    margin-top: auto;
    padding-top: 0;
  }
  .right-pane .basicsort .row .col-md-11.col-md-offset-1 > .row,
  .right-pane .filter .row .col-md-11.col-md-offset-1 > .row {
    margin-left: -30px;
  }
  .right-pane .filter .col-md-offset-1 .row .col-md-11 .col-md-2 + .col-md-3,
  .right-pane .filter .col-md-offset-1 .row .col-md-11 .col-md-2 + .col-md-9,
  .right-pane .filter .col-md-offset-1 .row .col-md-11 .col-md-2 + .col-md-10,
  .right-pane .basicsort .col-md-offset-1 .row .col-md-11 .col-md-2 + .col-md-3,
  .right-pane .basicsort .col-md-offset-1 .row .col-md-11 .col-md-2 + .col-md-9,
  .right-pane .basicsort .col-md-offset-1 .row .col-md-11 .col-md-2 + .col-md-10 {
    margin-left: -5%;
  }
  .right-pane .filter .col-md-offset-1 .row .col-md-11 .col-md-10 .linklist,
  .right-pane .basicsort .col-md-offset-1 .row .col-md-11 .col-md-10 .linklist {
    margin-right: -9%;
    margin-bottom: 10px;
  }
  .right-pane .filter .col-md-offset-1 .row .col-md-11 .col-md-2,
  .right-pane .basicsort .col-md-offset-1 .row .col-md-11 .col-md-2 {
    margin-left: -1%;
  }
  .searchform .col-md-6,
  .searchform .col-md-12,
  .searchform .col-md-10,
  .searchform .col-md-8,
  .searchform .col-md-4,
  .searchform .col-md-5,
  .searchform .col-md-7,
  .searchform .col-md-3 {
    padding: 0 5px;
  }
  .extendright {
    margin-left: -30px;
  }
  .extendright .moduletable {
    margin-bottom: 25px;
  }
  .extendright .moduletable.subcribeform h5 {
    margin-bottom: 10px;
    margin-top: 2px;
  }
  .width-40 + .width-40 {
    margin-left: 20%;
  }
  #abovefooter .col-md-2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  #abovefooter .row {
    margin-left: auto;
    margin-right: auto;
  }
  #abovefooter .whatsappnumber {
    width: auto;
  }
  #abovefooter .whatsappnumber li:after {
    content: "";
  }
  #abovefooter .whatsappnumber li:first-child:after {
    /*content: "/";*/
  }
  .productpage .right-pane .itemlist .packageFlyerImage .packageFlyerImageItem.tourpackage img {width: 100%;}
}
@media (min-width: 1200px) {
  .container {
    width: 1015px;
  }
}
@media (max-width: 1024px){
  .discount-item-image img{
    /*height:auto!important;*/
  }

}
