@charset "utf-8";

body{background:#fff;overflow-x:hidden;}
#document{width:600px; margin:0;}
#top_menu {width:100%; padding-right:0;}
#top_menu_border {width:600px;}
#main_area{background:#fff;}

.clearPos{margin:0 !important;}
#hdr_area{display:block;padding:32px 25px 25px;background:#eaeaea; overflow: hidden; }
#hdr_area h1{ margin:0; }
#hdr_area .last_updated_on{ margin:0; font-size: 10px; color: #333333;}
.content_wrapper{position:relative; min-height:400px; padding:20px;color:#666666; }
.content_wrapper p:first-child{margin-top:0;}
.content_wrapper p{margin:1em 0;}
.content_wrapper h3{font-size:14px;margin:1.5em 0 1em;}
.content_wrapper ol{/*list-style-position: inside;*/ margin: 1em 0 1em 1.5em;}
.content_wrapper ol li {clear:both; margin:1em 0;}
.content_wrapper ol li ol{list-style:none;margin-left:0}
.content_wrapper ol li li span{width:24px;display:block;float:left;}
.content_wrapper ol li li {clear:both;}
.content_wrapper ol li li p{margin-top:0;float:left;width:510px;}
.content_wrapper a:visited, .content_wrapper a, .content_wrapper a:link{color:#c80001;text-decoration:none;}

.content_wrapper ul{ margin-left: 14px; }
.content_wrapper ul li{ margin-bottom: 10px; }

table.tbl_info{border-collapse:collapse; margin: 5px 0;}
table.tbl_info th{border:none;padding:10px;}
table.tbl_info td{border:solid 1px #FFC425;width:182px;padding:10px;}
table.tbl_info2{border-collapse:collapse;}
table.tbl_info2 th{border:none;padding:10px;}
table.tbl_info2 td{border:solid 1px #FFC425;width:25%;padding:10px;vertical-align:top;}

.faq{ overflow: hidden;}
.faq span, .faq p { margin-top: 5px !important; line-height: 30px;}
.faq span{clear:both; display:block;float:left;width:30px;}
.faq p{ display: block; float:left; width:525px; text-align: justify;}

.encode_ar .faq span { float: right; text-align: right; width:45px; }
.encode_ar .faq p { float: right; text-align: right; width:510px; }

.highlight{color:#c80001;}


.content_wrapper hr.liner{ border-top: 1px solid #ccc;}
.content_wrapper strong{ font-size: 1.1em; }