.em_DealInfo.container, .em_dealDetails.container, .em_innerBlock.container, .em_borBlock.container{border:0 !important; padding:0 !important; box-shadow:none !important; border-radius:0 !important;}
/*em_dealMain*/
	.em_corBlock {border-radius:10px; background-color:#FFF; padding:10px; overflow:hidden; margin:0 0 10px; font-size:14px;}
	.em_corBlock h3 {font-size:30px; color:#5E759A; padding:0 25px 10px 0; font-family:Georgia, "Times New Roman", Times, serif; line-height:37px; border-bottom:1px solid #CCC; margin:0 0 15px;}
	.em_corBlock h3 span {font-size:18px; color:#73ad39;}
	.em_corBlock2 {background-color:#EFF8FF; border:2px solid #89B4D6; font-size:14px;}
	#em_context .moduletable {background-color:#EFF8FF; border:2px solid #89B4D6; font-size:14px; border-radius:10px; margin:0 0 10px; padding:10px; overflow:hidden;}
	#em_context .moduletable h3{text-align:center;}
	#em_context .em_corBlock2, #em_context .em_corBlock {background:none; border:0; border-radius:border-radius; margin:0; padding:0;}
	.em_moreDeal {overflow:hidden; background:url(../images/dot_line_2.png) repeat-x 0 100%; padding:15px 0;}
	.em_moreDeal:last-child {background:none;}
	.em_moreDeal .wrapPrice dt {font-size:13px;}
	.em_moreDeal .wrapPrice dd {font-size:15px;}
	.em_btn_02 {background:url(../images/bgd_btn_03.png) repeat-x 0 0; display:block; border:3px solid #c9dcea; border-radius:20px; padding:5px 10px; color:#FFF !important; text-transform:uppercase; font-size:14px; text-align:center; font-weight:bold; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.3); margin-top: 7px;}
	.em_itemDealMore, .em_itemDealMore dt, .em_itemDealMore dd {margin:0;}
	.em_itemDealMore dt {font-size:18px; color:#f34c00; font-weight:bold; text-shadow:2px 2px #FFF;}
	.em_itemDealMore dd {margin:5px 0 0; font-size:12px; font-weight:bold;}
	.em_itemDealMore dd a {color:#36100f;}
	.em_itemDealMore dd a:hover {color:#FF7600;}
	.em_locateBlock {overflow:hidden; text-align:center;}
	.em_locateBlock p {font-size:15px; color:#FF7600; line-height:20px; overflow:hidden; font-weight:bold; margin-top:5px;}
	.em_locateBlock strong {color:#777; display:block; padding:0 0 5px;}
	.contCart {text-align:center; overflow:hidden;}
		.em_contCart .left_cl, .em_contCart .right_cl{float:left; width:50%; margin:0px;font-weight:bold; }
		.em_contCart .txt-center {text-align: center; overflow:hidden;}
		.em_contCart .mod_SummarizedCart_title, .em_contCart .mod_SummarizedCart_information{clear:both;float:left; width:100%; margin-bottom:10px}
		.em_contCart .center {text-align:center; width:100%;}
		.em_rss {position:relative;}
	
	.em_dealMain {position:relative;min-height: 500px;}
	/*em_DealInfo*/
	.em_innerDeal {overflow:hidden;}
	.em_DealInfo {overflow:hidden; padding:0 0 50px;}

		.nivoSlider {overflow:hidden; position:relative; height:300px;}

		.nivoSlider img {width:100%;}
		.nivo-controlNav {margin:13px 0 0;}
		.nivo-thumbs-enabled img {width:80px; height:50px; margin:0 6px 10px 0; float:left; cursor:pointer;}
		
		.em_digest {background:url(../images/bg-deal-voice-quote.gif) no-repeat scroll 0 0 transparent; font-family:Georgia, "Times New Roman", Times, serif; color:#666; font-size:17px; margin-left:10px; margin-top:20px; padding-left:70px; padding-right:35px; line-height:25px; float:left;}
		.em_highlight {font-style: italic; font-size: 30px; color: #FF7600; font-family:Georgia; line-height: 30px; padding:1px 4px; font-weight:bold; background-color:#FFFFCC;}
		.em_wrapTit {overflow:hidden; border-bottom:1px solid #CCC; padding:0 0 10px; margin:0 0 15px;}
		.em_wrapTit h3 {float:left; width:94%; margin:0; padding:0; border:0;}
		.em_wrapTit img {float:right;}
		
		
	/*em_dealDetails*/
	.em_dealDetails {overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif;}
	.em_dealDetails h4 {color:#333; font-size:24px; line-height:30px; margin:0; font-family:Georgia, "Times New Roman", Times, serif; padding:0 0 10px;}
	.em_dealDetails p {padding:0 0 20px;}
	.rating {float:right; padding:0 0 0 6px;}
	.rating span {float:left; width:13px; height:12px; cursor:pointer;}
	.rating .ratingStar {background: url(../images/emptystar.gif) no-repeat;}
	.rating .filled {background: url(../images/filledstar.gif) no-repeat;}
	p.average_rating{line-height: 12px; text-align: right; margin-right: 10px;}
	
	.em_dealDetailRight h5 {font-size:18px; color:#333;}
	.em_dealDetailRight p {margin:0;}
	
		/*em_price*/
		.em_DealInfoLeft {font-family:Georgia, "Times New Roman", Times, serif;}
		.em_price {overflow:hidden; background:none repeat scroll 0 0 #00AAFF; padding:13px 10px 14px; margin:0 0 10px;}
		.em_price span {font-size:30px; color:#FFF; line-height:36px; float:left; padding:8px 0 0;}
		.em_price .fromprc{color:#FFF; width:50px; margin:0 0 -10px 0;}
		.em_dynamicPrice {background: none repeat scroll 0 0 #64C8E2;border: 1px solid #64C8E2;margin: 0 0 3px;position: relative;text-align: center;width: 99%;}
		.em_dynamicPrice  p{margin:3px 0; color:white;}
		.btnBuy {background:url(../images/buy_02.png) repeat-x 0 0; font-size:20px; color:#FFF !important; line-height:25px; text-transform:uppercase; font-weight:bold; padding:11px 10px 11px; border-radius:27px; border:3px solid #FFF; min-width: 90px; text-align:center; float:right;}
		.btnBuy:hover {color:#FF7600 !important;}
		.showBuy {background:url(../images/buy_02.png) repeat-x 0 0; font-size:20px; line-height:25px; text-transform:uppercase; font-weight:bold; padding:8px 10px; border-radius:27px; border:3px solid #FFF; text-align:center; float:right;}
		.showBuy:hover {color:#FF7600 !important;}
		a.showBuy {color:#FFF;min-width: 90px;}
		.em_dealDiscount {overflow:hidden; border:1px solid #64C8E2; margin:0 0 10px; padding:10px 0 0; background-color:#CFEEF6;}
		.wrapPrice {overflow:hidden;}
		.em_dealDiscount dl{float:left; width:33%; text-align:center; font-family:Georgia,"Times New Roman",Times,serif}
		.em_dealDiscount dl dd{font-size:16px; line-height:15px; font-weight:bold; padding:0; word-wrap:break-word;}
		#for_a_friend{background:none repeat scroll 0 0 #CFEEF6;border-top:1px solid #64C8E2;position:relative;text-align:center;padding:5px 0 0}
		#for_a_friend .icon_gift{background:url(../images/icon_gift_blue.gif) no-repeat scroll 0 2px transparent;display:inline-block;font-size:16px;font-weight:bold;line-height:30px;padding:0 0 0 35px;color:#1EC2E2;border:none;float:none;width:auto; text-transform:none;}
		
		.popupContBuy {position: absolute; z-index:10; background-color: #FFF; border: 1px solid #000; border-radius:0 10px 10px 10px; }
		.contPopBuy #enmasse_attr_close {font-weight: bold;position: absolute;right: 22px;top: 17px;}
		.contPopBuy h3 {
			border: none;
			color: #5E759A;
			font-family: Georgia,"Times New Roman",Times,serif;
			font-size: 30px;
			line-height: 35px;
			margin: 10px 0 10px 8px;
		}
		.listDealPop table {
    border: 1px solid #D5D5D5 !important;
	margin:8px;
}
.listDealPop td {
    border: 1px solid #D5D5D5 !important;
    padding: 10px !important;
    text-align: left !important;
    vertical-align: middle !important;
}
.listDealPop tr.bgBlueL {
    background-color: #F0F2F1;
}

.listDealPop table th, .listDealPop table td {
    border: 0 none !important;
    padding: 5px 0;
    text-align: center;
    vertical-align: top;
}

.listDealPop p {
    font-size: 12px;
    margin: 0;
}
.listDealPop p strong {
    font-style: italic;
}
.listDealPop .button {
    background: none repeat scroll 0 0 #5B992E;
    border: 1px solid #FFFFFF;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
    padding: 4px 7px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
.listDealPop td.last p {
    border-left: 2px solid #CCCCCC !important;
    padding-left: 10px;
    text-align: center;
}
.contPopBuy h4 {
    color: #666666;
    font-size: 14px;
	margin:0px;
}

		.em_remainingTime {background:#DDEDCC url(../images/hourglass.png) no-repeat scroll 18px 8px;border:1px solid #98C267;margin-top:10px;min-height:36px;overflow:auto;padding:6px 10px 8px 20px}
		.em_remainingTime .countdown{padding:0}
		.em_remainingTime .countdown li{font-size:14px;text-align:center}
		.em_remainingTime .countdown li.counter{font-size:14px;line-height:25px; float:left; color:#999; text-transform:uppercase; padding:7px 0 0; width: 100%;}
		.em_remainingTime ul {list-style-type:none; margin:0;}
		
		.em_numberSold {background:#DDEDCC;border:1px solid #98C267;margin-top:10px;min-height:36px;overflow:auto;text-align:center;padding:6px 6px 8px}
		.em_countPoint {color:#1EC2E2; font-size:18px; margin:0 0 15px; display:block;}
		.em_point {float:left; height:27px; padding 0 12px; width:100%;}
		.em_leftpoint {background-image:url(../images/leftpoint_bg.gif);float:left; height:27px; width:5px;}
		.em_centerpoint {background-image:url(../images/centerpoint_bg.gif); float:left; height:27px; width:93%;}
		.em_leftvote {background-image:url(../images/leftvote.gif); float: left; height:27px; width:3px;}
		.em_centervote {width:auto;background-image:url(../images/centervote.gif); float:left; height:27px;}
		.em_rightvote {background:url(../images/rightvote.gif) no-repeat; float:left; height:27px; width:14px;}
		.em_rightpoint {background-image:url(../images/rightpoint_bg.gif); float:left; height:27px; width:5px;}
		.em_leftnumber {text-align:left; float:left}
		.em_rightnumber {text-align:right; float:right}
		.em_infoPoint {overflow:hidden; width:100%;}
		.em_sharing {background:#DDEDCC; border:1px solid #98C267; margin-top:10px; margin-bottom:10px; min-height:36px; overflow:auto; text-align:center; padding:6px;}
	
	.em_contBlock {overflow:hidden; padding:0 0 20px;}
	.em_contBlock .em_listSocial {}
	.em_contBlock .em_listSocial li {display:inline; padding:0 7px;}
		.txtInfo {font-weight:bold; font-size:17px; padding:100px 0 0;}
		#boxes h3 {font-size:15px; text-align:center; color:#FF7600; font-family:Arial, Helvetica, sans-serif; padding-bottom:0; line-height:28px; border:0; margin:0;}
		#boxes {text-align:center;}
		#boxes form {margin:0;}
		#boxes .modal-footer {background:none; border:0; text-align:center;}
	
	/*em_borBlock*/	
	.em_borBlock {overflow:hidden; border:2px solid #89B4D6; border-radius:10px; padding:10px; margin:0 0 20px;}
	
	
	/*checkOut page*/
	.em_checkOutPage {font-family:Georgia, "Times New Roman", Times, serif;}
	.em_shopCart dl {overflow:hidden; text-align:center; margin:0; float:left; padding:0 0 20px;}
	.em_shopCartPage .em_shopCart .em_totalCart {padding:3px 10px 2px;}
	.em_shopCartPage .em_shopCart .em_totalCart .em_btn {margin-top:15px;}
	.em_shopCartPage .em_shopCart dl {text-align:right;}
	.em_shopCart dl.em_dealname {text-align:left;}
	.em_shopCart dt {color:#666666; font-weight:bold; padding:0 0 6px; margin:0;}
	.em_shopCart dl.em_qty input {color:#333333; font-size:12px; margin-left:2px; overflow:hidden; padding:2px 5px; width:60px;}
	.em_shopCart dd {color:#333333; margin:0;}
	.em_shopCart dd label {color:#333333; padding-left:1%; text-align:left; width:100%;}
	.em_shopCart dl form {margin:0;}
	.em_shopCart dl form select {width:91%;}
	.em_totalCart {background-color:#89B4D6; padding:13px 10px 10px; margin:10px 0 -10px -10px; width:100%; font-weight:bold; overflow:hidden;}
	.em_shopCart .em_totalCart dl {float:right; padding:0;}
	.em_totalCart dl, .em_totalCart dt, .em_totalCart dd {margin:0; color:#FFF;}
	.em_shopCart .em_totalCart dt {padding:0 0 5px; float:none;}
	.em_shopCart .em_totalCart dt, .em_shopCart .em_totalCart dd {padding:0; color:#FFFFFF;}
	.em_OrderInfo select {width:auto;}
	
	.em_perInfoCart strong, .em_perInfoCart span {display:block;}
		.em_txtItalic {font-style:italic;}
	.em_borBlock ul {overflow:hidden; list-style:none; margin:0;}
	.em_perInfoCart li {overflow:hidden;}
	.em_perInfoCart li label {width:36%; float:left; font-weight:bold; text-align:center; padding:5px 10px 0 0;}
	
	.em_imgDeal {float:left; padding:0 10px 0 0;}
	.em_txtDeal {font-weight:bold; font-size:16px;}
	.em_btnDetele img {background:url(../images/btn_delete.png) no-repeat 0 0; width:20px; height:18px;}
	.em_btnDetele:hover img {background-position:0 -20px;}
	
	.em_titDealList {width:100%;}
	.em_titDealList th, .em_titDealList td {padding:10px 5px 5px; font-weight:bold; font-size:16px; text-align:left; vertical-align:top;}
	.em_titDealList tr {background:url(../images/dot_line_2.png) repeat-x 0 100%;}
	.em_titDealList tr:first-child, .em_titDealList tr:last-child {background:none;}
	.em_titDealList th {color:#20b4d6; text-transform:uppercase;}
	.em_titDealList td input {width:70px;}
	.em_titDealList td span strong {color:#f34c00;}
	
	/*all deal page*/
	.em_frmListSearch {overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif;}
	.em_frmListSearch ul {overflow:hidden; list-style:none; margin:0;}
	.em_frmListSearch li {display:inline; padding:0 10px 0 0; float:left;}
	.em_frmListSearch li span {display:block; font-weight:bold; padding:0 0 3px;}
	.em_imgBig img {width:96%; padding:10px 10px 0 10px;}
	.em_dealType {overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif; box-shadow:1px 2px 3px 0 #CCCCCC; background-color:#EBEBEB; border:1px solid #CCCCCC; margin:0 0 20px;}
	.em_dealType dl {padding:10px;}
	.em_dealType dl, .em_dealType dt, .em_dealType dd {margin:0;}
	.em_dealType dd {padding:10px 0 0;}
	.em_dealType dt p {color:#339999; font-size:26px; line-height:30px; font-weight:normal;}
	.em_dealType dt strong {font-size:15px; color:#333;}
	.em_discount {background: url("../images/discount.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);color: #333333;display: block;float: right;font-size: 17px;
		  font-weight: bold;
		  height: 41px;
		  margin: -25px 0 0;
		  padding: 19px 1px 0;
		  text-align: center;
		  width: 58px;
	}
	.em_line {
		  background: url("../images/line.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
		  overflow: hidden;
	}
		/*em_wrapItemDeal*/
		.em_wrapItemDeal {overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif;}
		.em_wrapItemDeal ul {margin:0 0 20px; list-style:none; padding:0;}
		.em_imgItem {display:block; border:1px solid #DFDFDF; padding:3px; margin:0 0 5px;}
		.em_imgItem img {width:100%;}
		.em_wrapPriceInfo {overflow:hidden; background:url(../images/dot_line_2.png) repeat-x 0 100%; padding:0 0 15px;}
		.em_wrapPriceInfo dt {float:left; width:18%; margin-right:10px;}
		.em_wrapPriceInfo dd {float:left; width:75%;}
		.em_itemDeal_tit {font-size:14px; font-weight:bold;}
		.em_itemDealPrice {font-size:14px; overflow:hidden;}
		.em_itemDealPrice span {padding:0 20px 0 0; max-width:45%; float:left;}
		
		.em_line  .em_btn {margin-left:0px;}
		
		.em_dealType dd.em_time {background:url(../images/dot_line_2.png) repeat-x 0 100%; padding:10px 0 15px;}
		.notifyNoDeal {font-size:24px; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif;}
		.em_dealType .em_btn_deal {background:url(../images/bgd_btn_02.png) no-repeat 100% 0; font-size:14px; padding:7px 18px 7px 10px;}
		.em_btn_deal {color:#FFF; background:url(../images/bgd_btn_01.png) no-repeat 100% 0; padding:5px 17px 3px 9px; border:0; text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5); font-size:12px; font-weight:bold;}
	
	/*order page*/
	.em_orderList {overflow:hidden; border:2px solid #89B4D6; border-radius:10px;}
	.em_orderList table {width:100%; font-size:12px; text-align:center;}
	.em_orderList table th, .em_orderList table td {padding:10px; word-wrap:break-word;}
	.em_orderList table td {font-size:11px;}
	.em_orderList table tr.highlight td {background-color:#EDF1F4;}
	.em_orderList table tr.last td {background-color:#89B4D6; padding:20px;}
	
	/*list coupon page*/
	.em_listCouponPage {font-family:Georgia, "Times New Roman", Times, serif;}
	.em_titCoupon {overflow:hidden; color:#1EC2E2; font-size:18px; line-height:24px;}
	.em_listCoupon {overflow:hidden; padding:10px 0 0; margin:0; list-style:none;}
	.em_listCoupon li {overflow:hidden; padding:0 0 15px;}
	
	/*post a review page*/
	.em_postReviewPage {font-family:Georgia, "Times New Roman", Times, serif;}
	.em_titReview {overflow:hidden;}
	.em_titReview h4 {font-size:20px; line-height:25px;}
	.em_titReview h4 span {color:#5E759A; display:block; border-bottom:1px solid #CCCCCC; padding-bottom:10px;}
	.em_titReview h4 a {font-size:14px; font-weight:normal;}
	.em_postReview h4 {color:#1EC2E2; margin:0 0 10px; overflow:hidden;}
	.em_postReview .average_rating {float:left;}
	.em_review_form {clear:both;}
	.em_review_form textarea {width:90%; margin:0;}
	.review_errors {color:#FF0000;}
	.comment_area span.author {float:right; font-size: 1.2em;font-style: italic;}
	div.comment_area {border-top: 1px solid #EBEBEB; padding-top:5px;}
	#review_errors {margin:5px 0;}
	#review .em_btn {margin-left:0px;}
	/*payment page*/
	.em_numOrder, .em_nameOrder {display:block; padding:0 0 7px;}
	.em_payDetails h4 {text-align:center; font-size:15px; border-bottom:1px solid #D5D5D5; margin:0 0 10px; padding:0 0 5px;}
	
	
	/*productList page*/
	.em_productList {overflow:hidden;}
	.em_wrapProList {overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif;}
	.em_wrapProList > ul {overflow:hidden; list-style:none; margin:0; padding:0;}

	.em_wrapProList ul > li dl {border:1px solid #eaeaea; background-color:#FFF; padding:10px; margin:0;}
	.em_wrapProList ul > li dl dt {background:url(../images/bgd_tit_pro.png) repeat-x 0 0 #070101; padding:7px 10px; color:#FFF; font-size:16px; margin:0;}
	.em_wrapProList ul > li dl dt a {color:#FFF; background:url(../images/icon_arrow.png) no-repeat 0 5px; padding:0 0 0 13px; font-weight:bold;}
	.em_wrapProList ul > li dl dt a:hover {color:#73AD39;}
	.em_wrapProList ul > li dl dd {margin:0; background:url(../images/bgd_sort_cont_pro.png) repeat-x 0 0 #50a9d5; min-height:45px; padding:10px; color:#FFF;}
		.em_listProItem {margin:-11px 25px 0; padding:20px; border:1px solid #eaeaea; background-color:#FFF; overflow:hidden;}
		.em_listProItem li {display:block; padding:0 0 4px;}
		.em_listProItem li a {color:#231f20;}
		.em_listProItem li a:hover {color:#FF7600;}
	
	/*sale report page*/
	.em_wrapSaleInfo {overflow:hidden;}
	.em_saleInfo {width:85%; float:left;}
	.em_saleInfo ul {margin:0;}
	.em_saleInfo label {font-weight:bold; font-size:12px;}
	.em_saleInfo .input-append input {width:81%;}
	.em_saleInfo #filterFromDate_img, .em_saleInfo #filterToDate_img {height:30px;}
	.em_listDoc {margin:25px 0 0 10px; float:right;}
		.em_saleInfo .em_listBtn {margin:24px 0 0;}
	.em_tbGeneral {border-right:1px dotted #CCC; border-top:1px dotted #CCC; width:100%;}
	.em_tbGeneral td, .em_tbGeneral th {border-left:1px dotted #CCC; border-bottom:1px dotted #CCC; padding:5px 10px; font-size:12px; text-align:center;}
	.em_tbGeneral .em_last td {border-left:0;}
	.em_tbGeneral .em_last td.em_txtRight {border-bottom:0; border-right:1px dotted #CCC; font-weight:bold;}
		.em_tbGeneral td.em_txtRight, .em_txtRight {text-align:right;}
	.em_tbGeneral td.em_txtLeft, .em_txtLeft {text-align:left;}
	
	
	/*my sale page*/
	.em_mySalePage .em_saleInfo {float:none;}
	.em_mySalePage .em_saleInfo label {float:left; width:70px; padding:0 10px 0 0;}
	.em_mySalePage .em_listBtn {list-style:none; margin:0; overflow:hidden;}
	.em_mySalePage .em_listBtn li {display:inline;}
	
	/*em_frmStatus*/
	.em_merchantPage h4 {font-family:Georgia, "Times New Roman", Times, serif;}
	.em_merchantPage form ul {margin:0; overflow:hidden; list-style:none;}
	.em_merchantPage form ul li {float:left;}
	.em_merchantPage form ul label {float:left; padding:5px 10px 0 0; font-weight:bold;}
	.em_tbMerchant {margin:0 0 10px;}
	
	/*add deal*/
	.em_tbAddDeal td, .em_tbAddDeal th {padding:5px 10px;}
	.em_tbAddDeal .modal {position:static; border:0; box-shadow:none; margin:0;}
	.em_tbAddDeal table th {text-align:left; padding:5px 0;}
	.em_tbAddDeal table td {vertical-align:top; padding:5px 0;}
	
	/*merchant list*/
	.em_merSearch {overflow:hidden; list-style:none; margin:0;}
	.em_merSearch li {float:left;}
	.em_merSearch li label {float:left; padding:4px 10px 0 0; font-weight:bold;}
	.em_tbMerList td {text-align:left;}
	.em_tbMerList td label {float:left; padding:4px 10px 0 0;}
		.em_merAddNewPage table label {display:inline;}
		.em_merAddNewPage table td {padding-bottom:10px;}
		.em_merAddNewPage table td.key {width:180px; vertical-align:top;}
		.em_merAddNewPage table td input, .em_merAddNewPage table td textarea {margin-bottom:0;}
		.em_merAddNewPage table .radio input[type="radio"], .em_merAddNewPage table .checkbox input[type="checkbox"] {margin-left:0;}
		.em_merAddNewPage table .controls label {float:left; padding:0 20px 0 0 !important;}
		.em_listBtn {list-style:none; margin-left:0;}
		.em_listBtn li {display:inline;}
		.em_merAddNewPage fieldset {border:1px solid #CCC; padding:10px; margin:0 0 20px;}
	
	/*breadcrumb*/
	.em_breadcum {overflow:hidden; list-style:none; margin:0 0 20px;}	
		.em_breadcum li {display:inline; padding:0 10px 0 0; background:url(../images/lin_breadcum.png) no-repeat 100% 2px;}
		.em_breadcum li.em_last {background:none;}
	
	.em_frmLogin .controls label {display:none;}
	.em_frmLogin .controls input {width:66%;}
	.em_frmLogin .controls .btn {padding:3px 12px;}
	.em_frmLogin .control-group {width:100%;} 
		#form-login-remember label {display:inline; padding:0 10px 0 0;}
		#form-login-remember input {margin:0; float:none;}
		.unstyled {float:right;}
		.input-prepend {margin:0; display:block;}
	
	/*frmForgot*/
	.em_frmForgot label {text-align:left;}
	.em_frmForgot .form-actions {background:none; border:0; margin:0;}
	
	/*em_frmProfile*/
	.em_frmProfile {overflow:hidden;}
	.em_frmProfile fieldset {border:1px solid #CCC; padding:10px; margin:0 0 20px;}
		fieldset legend {border:0; font-weight:bold; font-size:17px; margin:0; width:auto; padding:0 10px;}
	.em_frmProfile ul {list-style:none; margin:0; overflow:hidden;}
	.em_frmProfile li {overflow:hidden; padding:0 0 0px;}
	.em_frmProfile li label {width:27%; font-weight:bold; padding:0 10px 0 0; float:left;}
	.em_editProfilePage li label {font-weight:normal;}
	
	/*Button input*/
	.em_btn {-moz-border-radius:9px;border-radius:9px;-webkit-border-radius:9px;-moz-box-shadow:0 1px 4px 0 #ccc;box-shadow:0 1px 4px 0 #ccc;background:#369EC1;color:white;cursor:pointer;display:inline-block;font-size:12px;font-weight:bold;line-height:1em;text-decoration:none;text-shadow:-1px -1px 0 rgba(0,0,0,0.5);padding:8px 9px;margin-left: 5px; margin-right:5px;margin-top:-1px; border:0; box-shadow:0;}
	a.em_btn {color:#FFF;}	
	a.em_btn:hover {color:#FFF;}

/*8. ///////Classes common to all templates///////*/
	.loading {}
	.hidden {display:none}
	.floatL { float:left}
	.floatR { float:right}
	
/*9. CSS Sprites ///////Styles sprite to all templates///////*/
/*10. End///////ID common to all templates///////*/
		/*Id on tab body*/
		/*Structute Style 01*/
		#defauPage #main , #defauPage #wrapMain {}
		#defauPage #content {}
		/*Structute Style 01*/
		#photoPage #wrapMain {}
		#photoPage #main {}

@media(max-width:1180px){
	.em_frmLogin .controls input {width:57%;}
	.em_saleInfo input[type="text"], .em_saleInfo select {width:90%;}
	.em_saleInfo .input-append input {width:69%;}
}

@media(max-width:979px) {
	.em_menuNav .nav > li.active {background:none; padding:5px 0 0;}
	.em_menuNav .nav > li.active a, .em_menuNav .nav > li.active a:hover {border-radius:5px;}
	.em_menuNav .nav > li a:hover {background:none; color:#94C315;}
	.em_frmLogin .controls input {width:37%;}
	.em_price span {font-size:18px;}
}

@media(max-width:850px) {
	.em_subNav, .em_subNav:hover {display:block !important; position:static;}
	
}

@media(max-width:700px) {
	.em_price span {font-size:30px;}
	.em_frmLogin .controls input {width:70%;}
	.em_orderList table th, .em_orderList table td {width:15%;}
	.em_shopCart dl { text-align:left;}
	.em_wrapTit h3 {width:90%;}
}

@media(max-width:350px) {
	.em_perInfoCart li input {width:130px;}
	.em_OrderInfo select {width:230px;}
	.em_frmProfile li label {width:100%;}
}

table#top {margin-bottom:5px;}

#modal-subscription-box form {
    margin:0px;
    text-align: center;
}

#modal-subscription-box .modal-header {
    border-bottom: none;
    padding: 9px 15px 0px 15px;
}

form#login-form {
    margin-bottom: 5px;
    text-align: center;
}

/* adding by quan for slider for deal show*/
/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
 position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white;
    filter:alpha(opacity=0);
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
/*.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    width:100%;
    z-index:8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
}*/
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align:center;
    padding: 15px 0;
}
.nivo-controlNav a {
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}

.nivo-thumbs-enabled img {width:80px; height:50px; margin:0 6px 10px 0; float:left; cursor:pointer;}

.ui-datepicker-prev span.ui-icon{
	position: relative !important;
	display: block !important;
	margin:0 !important;
	background: url(../images/ui-icons_datepicker.png) -80px -192px !important;
	top:23% !important;
	left: 23% !important;
}

.ui-datepicker-next span.ui-icon{
	position: relative !important;
	display: block !important;
	margin:0 !important;
	background: url(../images/ui-icons_datepicker.png) -48px -192px !important;
	top:23% !important;
	left: 23% !important;
}