.em_deal, .em_deal_cont, .em_main, .em_maincol_right, .em_rightcol, .maincol_full_header {direction:rtl; text-align:right;}
.deal_small .info input.button, .deal_small .info .line {float:right;}
.apollo_info {text-align:right !important;}
.filters table, .filters table th, .filters table td {text-align:right;}
#Order_Information .line #terms {float:right; margin:4px 0 0 !important;}
#Order_Information .line label a {float:right !important; margin:0 5px;}
#price_tag {left:67px !important;}